<div>
    <!-- Modal Message -->
    <div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div ng-class="informationMessage.type == 'error' ? 'alert-danger' : (informationMessage.type == 'warn' ? 'alert-warning' : 'alert-info')">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modal-message-title">
                        <i ng-if="informationMessage.type == 'error'" class="fa fa-exclamation-circle fa-lg"></i>
                        <i ng-if="informationMessage.type == 'warn'" class="fa fa-warning fa-lg"></i>
                        <i ng-if="informationMessage.type == 'info'" class="fa fa-info fa-lg"></i>{{informationMessage.title}}
                    </h4>
                </div>
                <div class="modal-body" id="modal-message-body">
                    <span ng-bind-html="informationMessage.message"></span>
                </div>
            </div>
        </div>
    </div>
</div>