<ul class="header-dropdown-list ng-cloak"   ng-controller="LanguagesCtrl">
    <li class="dropdown" style="z-index: 2001">
        <a class="dropdown-toggle" style="margin-top: 0px" href> <img src="styles/img/blank.gif" class="flag flag-{{selectedLanguage.countrycode}}" alt="{{selectedLanguage.name}}"> <span> {{selectedLanguage.name}} </span>
            <i class="fa fa-angle-down"></i> </a>
        <ul class="dropdown-menu pull-left">
            <li ng-class="{active: language.idLanguage==selectedLanguage.idLanguage}" ng-repeat="language in languages">
                <a ng-click="selectLanguage(language)" >
                    <span ng-show="selectedLanguage.countrycode==language.countrycode" class="glyphicon glyphicon-ok" ></span>
                    <img src="styles/img/blank.gif" class="flag flag-{{language.countrycode}}" alt="{{language.iso_2}}">
                    {{language.name}}
                </a>
            </li>
        </ul>
    </li>
</ul>