<div class="row">
    <div class="col-sm-10 col-md-10">
        <div class="row">
            <div ng-repeat="current in pies" class="col-sm-{{bootstrapCol}} text-center">
                <div ng-if="current.chartOptions" easypiechart options="current.chartOptions" percent="current.percentage">
                    <span class="easypie-percent font-xl">{{current.percentage}} %</span>
                    <span class="easypie-title font-md">{{current.chartLegends}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-2">
        <div class="row" ng-repeat="current in pies">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <span class="text">{{current.chartLegends}} <span class="pull-right">{{current.chartValues}}/{{total}}</span> </span>
                <div class="progress" style ="height: 8px;">
                    <div class="progress-bar" style="width: {{current.percentage}}%; background-{{current.chartStyle}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>