<div>
    <autogen-table-generator ng-if="!(editingItem[editingItemTab])" class="tab-pane fade"
                             tab-generator-id="{{tabGeneratorId}}"
                             table-generator-title="{{tableGeneratorTitle}}"
                             table-filter="{{tableFilter}}"
                             table-generator-icon="fa-edit"
                             table-reference-item="{{tableReferenceItem}}"
                             window-generator-id="{{windowGeneratorId}}">
    </autogen-table-generator>
</div>