<div id="content">

    <!-- widget grid -->
    <section id="widget-form" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                <h5 ng-if="!hideHeader">{{::formName}}</h5>
                <!-- form -->
                <div role="content">
                    <!-- widget content -->
                    <div class="widget-body">
                        <form id="tableForm" name="tableForm" class="smart-form" novalidate ng-submit="doFormSubmit()" >
                            {{header}}
                            <hr class="simple">
                            <div class="col-12">
                                <div ng-repeat="roww in fieldRows">
                                    <div class="row">
                                        <div ng-include="inputsTemplate"></div>
                                    </div>
                                </div>
                                <span ng-switch on="adTab.groupMode">
                                    <span ng-switch-when="TAB" >
                                        <ul class="nav nav-tabs bordered">
                                            <li class='{{::$index==0?"active":""}}' ng-repeat="group in groups">
                                                <a data-toggle="tab" href="#group{{group.id}}">{{group.name}}</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content padding-10">
                                            <div id="group{{group.id}}" class="tab-pane fade in {{::$index==0?'active':''}}" ng-repeat="group in groups">
                                                <fieldset class="no-padding">
                                                    <div ng-repeat="roww in group.fieldRows">
                                                        <div class="row">
                                                            <div ng-include="inputsTemplate"></div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </span>
                                    <span ng-switch-default>
                                        <div ng-repeat="group in groups">
                                            <div ng-if="group.display" ng-show="group.collapsed">
                                                <h6><a href="" ng-click="toggleGroup(group.id)"><i class="fa fa-plus-square"></i></a> {{group.name}}</h6>
                                                <hr class="simple"/>
                                            </div>
                                            <div ng-if="group.display" ng-hide="group.collapsed">
                                                <h6><a href="" ng-click="toggleGroup(group.id)"><i class="fa fa-minus-square"></i></a> {{group.name}}</h6>
                                                <hr class="simple"/>
                                                <fieldset class="no-padding">
                                                    <div ng-repeat="roww in group.fieldRows">
                                                        <div class="row">
                                                            <div ng-include="inputsTemplate"></div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </span>
                                </span>
                                <div class="col-12" style="margin-bottom: 1em;">
                                    <span ng-if="!includeButtonsInBootstrap && !disableInline" ng-repeat="button in buttons">
                                        <span ng-if="button.display && !forceReadOnly">
                                            <button ng-if="button.column.refButton.info.btype=='PROCESS'" type="button"
                                                    ng-click="executeProcess(item, button)" class="btn btn-success autogen-btn wait-response">
                                                <i class={{button.column.refButton.info.icon}}></i>
                                                {{::$root.getColumnCaption(button.tableName, button.name, button.idField)}}
                                            </button>
                                            <button ng-if="button.column.refButton.info.btype=='ACTION'" type="button"
                                                    ng-click="button.column.refButton.info.jsCode" class="btn btn-success autogen-btn wait-response">
                                                <i class={{button.column.refButton.info.icon}}></i>
                                                {{::$root.getColumnCaption(button.tableName, button.name, button.idField)}}
                                            </button>
                                            <button ng-if="button.column.refButton.info.btype=='JAVASCRIPT'" type="button"
                                                    ng-click="executeJS(button)" class="btn btn-success autogen-btn wait-response">
                                                <i class={{button.column.refButton.info.icon}}></i>
                                                {{::$root.getColumnCaption(button.tableName, button.name, button.idField)}}
                                            </button>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <footer ng-if="!hideFooter">
                                <div class="row" style="padding-right: 2em;">
                                    <div class="col-sm-8">
                                        <div class="alert alert-warn fade in" ng-if="fieldDescription">
                                            <i class="fa-lg fa fa-bullhorn"></i> <ng-bind-html ng-bind-html="fieldDescription"></ng-bind-html>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" name="cancel" ng-click="throwCancelClick()" class="btn btn-danger wait-response">
                                            {{::$root.getMessage('AD_btnCancel')}}
                                        </button>
                                        <button type="button" ng-click="save()" class="btn btn-primary wait-response" ng-if="!adTab.runtime.readonly">
                                            {{::$root.getMessage('AD_btnSave')}}
                                        </button>
                                        &nbsp;
                                    </div>
                                </div>
                            </footer>
                        </form>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<div ng-include="editingWindowDialogTemplate"></div>
<div ng-include="searchWindowDialogTemplate"></div>
<div ng-include="searchInputWindowDialogTemplate"></div>

<div class="modal fade" id="loadingModal{{tabGeneratorId}}" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">{{::$root.getMessage('AD_msgOperationPerforming')}}</div>
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="processDialogTemplate"></div>
<div ng-include="translationDialogTemplate"></div>
<div ng-include="authorizationDialogTemplate"></div>

