<div id="content" ng-switch on="tabInformation.ttype">
    <!-- widget audit -->
    <section widget-grid id="widget-grid" ng-switch-when="AUDIT">
        <autogen-table-audit id-table="tabInformation.idTable"  table-reference-item="tableReferenceItem"></autogen-table-audit>
    </section>
    <!-- widget audit -->
    <!-- widget listchart -->
    <section widget-grid id="widget-grid" ng-switch-when="LISTCHART">
        THIS IS A LIST
    </section>
    <!-- widget listchart -->
    <section widget-grid id="widget-grid" ng-switch-when="CHART">
        <autogen-form-chart
                tab-generator-id="{{tabGeneratorId}}"
                table-generator-title="{{tableGeneratorTitle}}"
                table-reference-item="{{tableReferenceItem}}"
                window-generator-id="{{windowGeneratorId}}">
        </autogen-form-chart>
    </section>
    <!-- widget grid -->
    <section widget-grid id="widget-grid" ng-switch-when="CHARACTERISTIC">
        <autogen-form-characteristics
                tab-generator-id="{{tabGeneratorId}}"
                table-generator-title="{{tableGeneratorTitle}}"
                table-reference-item="{{tableReferenceItem}}"
                window-generator-id="{{windowGeneratorId}}">
        </autogen-form-characteristics>
    </section>
    <!-- widget grid -->
    <section widget-grid id="widget-grid" ng-switch-when="CHARACTERISTIC_ADVANCED">
        <autogen-form-characteristics-advanced
                tab-generator-id="{{tabGeneratorId}}"
                table-generator-title="{{tableGeneratorTitle}}"
                table-reference-item="{{tableReferenceItem}}"
                window-generator-id="{{windowGeneratorId}}">
        </autogen-form-characteristics-advanced>
    </section>
    <!-- widget grid -->
    <section widget-grid id="widget-grid" ng-switch-when="USERDEFINED">
        <autogen-form-user-defined ng-if="parentItem || tabInformation.tablevel == 0" parent-item="parentItem" command="{{tabInformation.command}}">
        </autogen-form-user-defined>
    </section>
    <section widget-grid id="widget-grid" ng-switch-default>
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget class="dataTables_wrapper form-inline" data-widget-color="darken"
                     data-widget-editbutton="true" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">

                    <header class="tab-header">
                        <span ng-if="!hideHeader" class="widget-icon">
                            <i ng-if="!hideHeader" class="fa {{tableGeneratorIcon}}"></i>
                        </span>
                        <h2 ng-if="!hideHeader">
                            {{::(parentItem ? parentItem.item.name : getWord(tableGeneratorTitle))}} &nbsp;&nbsp;
                            <input type="checkbox" ng-if="!sortMode && showCardMode" ng-model="tableData.checkAll" class="form-control" ng-change="verifySelection()" style="margin-top: 0px"/>
                        </h2>
                        <div ng-include="headerFilterTemplate" class="header-filter-container"></div>
                    </header>

                    <div class="dt-toolbar" ng-include="filterTemplate"></div>

                    <!-- No data -->
                    <div class="row" id="warning_readonly" ng-hide="tableElements && tableElements.length > 0">
                        <article class="col-sm-12">
                            <div class="alert alert-info fade in">
                                <i class="fa-lg fa fa-bullhorn"></i>
                                <strong>{{::$root.getMessage('AD_msgDataAlert')}}</strong> {{::$root.getMessage('AD_msgDataEmpty')}}
                            </div>
                        </article>
                    </div>

                    <!-- Table -->
                    <div class="{{!(tableElements && tableElements.length > 0) ? 'hidden':''}}">
                        <div class="widget-body no-padding">
                            <div ng-if="sortMode">
                                <div class="widget-body">
                                    <autogen-sortable-grid ng-if="sortableTabId" items="tableElements"
                                                           related-tab-generator-id="tabGeneratorId" check-all="tableData.checkAll"
                                                           tab-generator-id="sortableTabId" start="tableData.sortStart"
                                                           step="tableData.sortStep">
                                    </autogen-sortable-grid>
                                </div>
                            </div>
                            <div ng-if="!sortMode && showCardMode">
                                <div class="widget-body">
                                    <autogen-sortable-grid items="tableElements" card-mode
                                                           tab-generator-id="cardViewIdTab"
                                                           related-tab-generator-id="tabGeneratorId"
                                                           start="tableData.sortStart" step="tableData.sortStep">
                                    </autogen-sortable-grid>
                                </div>
                            </div>
                            <div ng-if="!sortMode && !showCardMode && relatedCardId && gridEnabled">
                                <autogen-table-grid-generator table-elements="tableElements" card-mode  tab-generator-id="listViewIdTab"
                                                              related-tab-generator-id="tabGeneratorId" table-order-by-field="tableOrderByField"
                                                              table-reverse-sort="tableReverseSort" start="tableData.sortStart" step="tableData.sortStep">
                                </autogen-table-grid-generator>
                            </div>
                            <div class="dt-toolbar-footer">
                                <div class="dataTables_info col-sm-6 col-xs-12 hidden-xs" id="DataTables_Table_1_info" role="status" aria-live="polite">
                                    {{$root.getMessage('AD_GlobalMsgPaging',
                                    [(tableData.tableCurrentPage-1)*tableData.tablePageSize + 1,
                                    (tableData.tableCurrentPage-1)*tableData.tablePageSize + tableElements.length,
                                    tableTotalElements])}}
                                </div>
                                <div class="col-xs-12 col-sm-6" ng-if="tableTotalElements > 0">
                                    <pagination ng-hide="numPages == 1" total-items="tableTotalElements"
                                                items-per-page="tableData.tablePageSize"
                                                ng-model="tableData.tableCurrentPage" max-size="maxSize"
                                                num-pages="numPages"
                                                class="pagination-sm" boundary-links="true" rotate="false"
                                                previous-text="{{::$root.getMessage('AD_GlobalMsgPagePrevious')}}"
                                                next-text="{{::$root.getMessage('AD_GlobalMsgPageNext')}}"
                                                first-text="{{::$root.getMessage('AD_GlobalMsgPageFirst')}}"
                                                last-text="{{::$root.getMessage('AD_GlobalMsgPageLast')}}">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
