<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">

                <div jarvis-widget class="dataTables_wrapper form-inline" data-widget-color="darken"
                     data-widget-editbutton="true" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">

                    <header>
                        <span class="widget-icon"> <i ng-if="!hideHeader" class="fa fa-list"></i> </span>
                        <h2>{{getMessage('AD_sqlExecTypeCaption')}}</h2>
                    </header>

                    <!-- Table -->
                    <div>
                        <div class="widget-body">
                            <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                                <!-- form -->
                                <div role="content">
                                    <!-- widget content -->
                                    <div class="widget-body">
                                        <form id="sqlForm" name="sqlForm" class="smart-form" novalidate>
                                            <div class="col-12">
                                                <div class="row">
                                                    <section class="col col-xs-12 col-sm-12 col-md-4 col-ld-4">
                                                        <label class="label">{{getMessage('AD_sqlExecType')}}</label>
                                                        <label class="input">
                                                            <select class="form-control"
                                                                    ng-required="{{field.column.mandatory}}"
                                                                    ng-if="!field.readonly"
                                                                    style="width:100%; margin-top: -2px; min-width: 160px"
                                                                    ng-required="{{field.required}}"
                                                                    data-ng-model="selectedSqlLanguage"
                                                                    ng-change="changeLanguage(selectedSqlLanguage)"
                                                                    name="selectedSqlLanguage"
                                                                    ng-options="current.value as current.name for current in sqlLanguages">
                                                            </select>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-xs-12">
                                                        <label class="label">{{getMessage('AD_sqlExecQuery')}}</label>
                                                        <label class="input">
                                                            <textarea name="sqlQuery" id="sqlQuery" rows="4"
                                                                      class="form-control"
                                                                      style="width:100%; border: 1px solid #ccc; padding-left: 6px"
                                                                      ng-required ng-change="changeQuery(sqlQuery)"
                                                                      ng-model="sqlQuery">
                                                            </textarea>
                                                        </label>
                                                        <span class="error-message" ng-show="sqlForm.$dirty && sqlForm.sqlQuery.$error.required">
                                                            {{getMessage('AD_errFieldMandatory')}}
                                                        </span>
                                                    </section>
                                                </div>
                                            </div>
                                            <footer>
                                                <button type="submit" ng-click="exec()" class="btn btn-primary">
                                                    {{getMessage('AD_btnExecute')}}
                                                </button>
                                            </footer>
                                        </form>


                                        <!-- No data -->
                                        <div class="row" id="warning_readonly" ng-show="data.resultList.length == 0">
                                            <article class="col-sm-12">
                                                <div class="alert alert-info fade in">
                                                    <i class="fa-lg fa fa-bullhorn"></i>
                                                    <strong>{{getMessage('AD_msgDataAlert')}}</strong> {{getMessage('AD_msgSqlExecDataEmpty')}}
                                                </div>
                                            </article>
                                        </div>

                                        <div class="panel panel-info margin-5" ng-if="data.resultList.length > 0">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">{{getMessage('AD_sqlExecResults')}}</h3>
                                            </div>
                                            <div class="panel-body">

                                                <div  class="row" ng-if="searchLanguage == 'HSQL'">
                                                    <div class="col col-sm-12" ng-repeat="item in data.resultList">
                                                        {{item}}<hr/>
                                                    </div>
                                                </div>

                                                <!-- Table -->
                                                <div ng-if="data.resultList.length > 0 && searchLanguage == 'SQL'">
                                                    <div class="widget-body no-padding">
                                                        <table custom-datatable-basic ng-model="data.resultList"
                                                               id="{{$id}}" width="100%"
                                                               class="table table-striped table-bordered table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th ng-attr-data-class="{{$index == 0 ? 'expand' : undefined}}"
                                                                    responsive-table-header ng-repeat="item in data.columns"
                                                                    ng-attr-data-hide="{{getHiddenClass($index)}}" id="{{item}}_{{$index}}">
                                                                    {{item}}
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr class="smart-datatable-child-format" ng-repeat="item in data.resultList">
                                                                <td ng-repeat="col in data.columns">
                                                                    <span><label>{{item[col]}}</label></span>
                                                                    <span ng-if='($parent.$index+1==data.resultList.length) && ($index+1==data.columns.length)' on-finish-render></span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
