<div id="content" >
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">

                <!-- No data -->
                <div class="row" id="warning_readonly" ng-hide="tableElements && tableElements.length > 0">
                    <article class="col-sm-12">
                        <div class="alert alert-info fade in">
                            <i class="fa-lg fa fa-bullhorn"></i>
                            <strong>{{getMessage('AD_msgDataAlert')}}</strong> {{getMessage('AD_msgDataEmpty')}}
                        </div>
                    </article>
                </div>

                <!-- Table -->
                <div ng-if="visibleColumns" class="{{!(tableElements && tableElements.length > 0) ? 'hidden':''}}">
                    <div class="widget-body no-padding">
                        <table custom-datatable-basic ng-model="tableElements" id="{{tabGeneratorId}}" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th ng-attr-data-class="{{$index == 0 ? 'expand' : undefined}}" responsive-table-header ng-attr-data-hide="{{getHiddenClass($index)}}" style="background-image: none" ng-repeat="item in visibleColumns" id="{{item.name}}">
                                    <div>{{getColumnChartCaption(item.chartName, item.name)}}</div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="smart-datatable-child-format" ng-repeat="item in tableElements" ng-click="clickRow($index, item)">
                                <td ng-repeat="col in visibleColumns">
                                            <span ng-switch on="col.reference.rtype">
                                                <label class="pull-right" ng-switch-when="NUMBER">{{item[col.standardName] | number : stdPref.fractionSize}}</label>
                                                <label class="pull-right" ng-switch-when="INTEGER">{{item[col.standardName] | number}}</label>
                                                <label ng-switch-when="DATE">{{item[col.standardName] | date : stdPref.dateFormat }}</label>
                                                <label ng-switch-when="TIMESTAMP">{{item[col.standardName] | date : stdPref.dateTimeFormat }}</label>
                                                <label ng-switch-when="TIME">{{item[col.standardName] | date : stdPref.timeFormat }}</label>
                                                <img ng-switch-when="IMAGE" ng-src="{{item[col.standardName+'_imgSrc']}}" width="150"/>
                                                <img ng-switch-when="IMAGEVIEW" ng-show="'{{item[col.standardName]}}' != ''" ng-src="{{item[col.standardName]}}" width="150"/>
                                                <label ng-switch-default>{{item[col.standardName]}}</label>
                                            </span>
                                    <span ng-if="tabInformation.uipattern==='READONLY' && ($parent.$index+1==tableElements.length) && ($index+1==visibleColumns.length)" on-finish-render></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="dt-toolbar-footer">
                            <div class="dataTables_info col-sm-6 col-xs-12 hidden-xs" id="DataTables_Table_1_info" role="status" aria-live="polite">
                                {{getMessage('AD_GlobalMsgPaging', [(tableData.currentPage-1)*tableData.pageSize + 1,
                                (tableData.currentPage-1)*tableData.pageSize + tableElements.length, tableTotalElements])}}
                            </div>
                            <div class="col-xs-12 col-sm-6" ng-if="tableTotalElements>0" >
                                <pagination ng-hide="numPages==1" total-items="tableTotalElements" items-per-page="tableData.pageSize"
                                            ng-model="tableData.currentPage" max-size="maxSize" num-pages="numPages" ng-change="changePage(tableData.currentPage)"
                                            class="pagination-sm" boundary-links="true" rotate="false"
                                            previous-text="{{getMessage('AD_GlobalMsgPagePrevious')}}"
                                            next-text="{{getMessage('AD_GlobalMsgPageNext')}}"
                                            first-text="{{getMessage('AD_GlobalMsgPageFirst')}}"
                                            last-text="{{getMessage('AD_GlobalMsgPageLast')}}">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>


</div>
