<div>
    <label ng-if="field.readonly">
        <div ng-repeat="value in visualField.objectValues">
            <span ng-show="value.value==selectedField">{{value.name}}</span>
        </div>
    </label>
    <select class="form-control" ng-required="{{field.column.mandatory}}" ng-if="!field.readonly"
            ng-required="{{field.required}}" data-ng-model="selectedField" ng-disabled="disabled"
            name="{{field.name}}" ng-change="selectValue(selectedField)" style="width: 100%" ng-focus="doEnter(field)"
            ng-options="current.value as current.name for current in visualField.objectValues">
    </select>
    <b class="tooltip tooltip-top-right" ng-if="getDescription()" ng-bind-html="getDescription()"></b>
</div>