<ul class="header-dropdown-list filter hidden-xs">
    <li class="dropdown-tabbed grid-column{{$id}}">
        <a href="#" class="btn btn-link dropdown-toggle userdropdown column-selector" ng-click="toggleMenu()" title="{{::$root.getMessage('AD_msgCaptionBarChangeColumns')}}">
            <i class="fa fa-columns"></i>
        </a>
        <ul class="dropdown-menu pull-right">
            <li style="height: 90%">
                <div class="widget-body smart-form">
                    <header class="tab-header">
                        <h6>{{::$root.getMessage('AD_msgCaptionBarChangeColumns')}}</h6>
                        <div ng-include="headerFilterTemplate"></div>
                    </header>
                    <form style="height: 100%">
                        <div class="row grid padding-20">
                            <div ng-repeat="item in columns" class="title grid-element" id="{{item.field.id}}" ng-model="item">
                                <input type="checkbox" ng-model="item.checked"/> {{item.field.caption}}
                            </div>
                        </div>
                    </form>
                    <footer ng-if="!hideFooter">
                        <button type="button" name="clearSelection" title="{{::$root.getMessage('AD_btnClearSelection')}}" ng-click="clearSelection()" class="pull-left btn btn-danger column-selector">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                        <button type="button" name="cancel" ng-click="closeDialog()" class="btn btn-danger column-selector">
                            {{::$root.getMessage('AD_btnCancel')}}
                        </button>
                        <button ng-if="!adTab.runtime.readonly" type="submit" ng-click="saveOrder()" class="btn btn-primary column-selector">
                            {{::$root.getMessage('AD_btnSave')}}
                        </button>
                    </footer>
                </div>
            </li>
        </ul>
    </li>
</ul>