<div class="modal fade" id="{{tableSearchDialogId}}" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h4 class="modal-title" id="myModalLabel">
                    {{getMessage('AD_captionSelect')}}
                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="dt-toolbar">
                    <div class="col-sm-6 col-xs-3" >
                        <input ng-if="visualField.displaySource == 'DATABASE'" type="text" name="filter" id="searchTable{{tableSearchDialogId}}" class="form-control" ng-model="referenceData.currentFilterValue"/>
                    </div>
                    <div class="col-sm-6 col-xs-3">
                        <div class="dataTables_length hidden-xs margin-right-5 pull-right">
                            <label>
                                <select aria-controls="DataTables_Table_1"
                                        class="form-control input-sm" ng-model="referenceData.referencePageSize"
                                        ng-options="item for item in tablePageSizeList">
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" width="100%">
                    <thead>
                    <tr>
                        <th><a ng-click="orderByFieldFnFilter({name: visualField.display}, visualField,currentFilterValue, referenceData.referencePageSize)">{{getColumnCaption(visualField.table.name, visualField.displayCaption)}}</a></th>
                        <th>{{getMessage('AD_labelColumnActions')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in visualField.objectValues">
                        <td>{{item[visualField.display]}}</td>
                        <td>
                            <button class="btn btn-xs btn-default" ng-click="selectTableValue(item)">
                                <i class='fa fa-pencil-square-o'></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="dt-toolbar-footer">
                    <div class="dataTables_info col-sm-6 col-xs-12 hidden-xs" id="DataTables_Table_1_info"
                         role="status" aria-live="polite">
                        {{getMessage('AD_GlobalMsgPaging',[(referenceData.referenceCurrentPage-1)*referenceData.referencePageSize +
                        1,(referenceData.referenceCurrentPage-1)*referenceData.referencePageSize +
                        visualField.objectValues.length, referenceTotalElements])}}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <pagination ng-hide="numPages==1" total-items="referenceTotalElements"
                                    items-per-page="referenceData.referencePageSize" ng-model="referenceData.referenceCurrentPage"
                                    max-size="maxSize" num-pages="numPages" class="pagination-sm"
                                    boundary-links="true" rotate="false"
                                    previous-text="{{getMessage('AD_GlobalMsgPagePrevious')}}"
                                    next-text="{{getMessage('AD_GlobalMsgPageNext')}}"
                                    first-text="{{getMessage('AD_GlobalMsgPageFirst')}}"
                                    last-text="{{getMessage('AD_GlobalMsgPageLast')}}">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>