<section id="widget-form" class="">
    <div class="row">
        <article class="col-sm-12">

            <div jarvis-widget class="dataTables_wrapper form-inline" data-widget-color="darken"
                 data-widget-editbutton="true" data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false">

                <header class="tab-header">
                    <span ng-if="!hideHeader" class="widget-icon"> <i ng-if="!hideHeader" class="fa {{tableGeneratorIcon}}"></i> </span>
                    <h2 ng-if="!hideHeader">{{::parentItem ? parentItem.item.name : getWord(tableGeneratorTitle)}}</h2>
                    <div ng-include="headerFilterTemplate" class="header-filter-container"></div>
                </header>

                <!-- Table filter -->
                <div class="dt-toolbar" ng-include="filterTemplate"></div>

                <div ng-repeat="currentRow in chartRows">
                    <div class="row">
                        <div ng-repeat="chart in currentRow">
                            <article class="col-xs-12 col-md-{{chart.bootstrapCol}}">
                                <div jarvis-widget id="chartjs-bar-chart" data-widget-editbutton="false">
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i></span>
                                        <h2>{{::chart.name}}</h2>
                                        <div class="chart-caption-filters" ng-show="chart.filterDesc">{{chart.filterDesc}}</div>
                                    </header>
                                    <div>
                                        <div class="widget-body">
                                            <flot-bar-chart ng-if="chart.ctype=='VERTICAL_BAR' && filtersLoaded" chart-item="chart" filter-info="filterInfo" filter-range-set="filterRangeSet" filter-set="filterSet" parent-item="parentItem"></flot-bar-chart>
                                            <flot-pie-chart ng-if="chart.ctype=='PIE' && filtersLoaded" chart-item="chart" filter-info="filterInfo" filter-range-set="filterRangeSet" filter-set="filterSet" parent-item="parentItem"></flot-pie-chart>
                                            <flot-horizontal-bar-chart ng-if="chart.ctype=='HORIZONTAL_BAR' && filtersLoaded" chart-item="chart" filter-info="filterInfo" filter-range-set="filterRangeSet" filter-set="filterSet" parent-item="parentItem"></flot-horizontal-bar-chart>
                                            <flot-sin-chart  ng-if="chart.ctype=='LINE' && filtersLoaded" chart-item="chart" filter-info="filterInfo" filter-range-set="filterRangeSet" filter-set="filterSet" parent-item="parentItem" ></flot-sin-chart>
                                            <morris-sales-graph ng-if="chart.ctype=='STACKED_LINE' && filtersLoaded" chart-item="chart" filter-info="filterInfo" filter-range-set="filterRangeSet" filter-set="filterSet" parent-item="parentItem" ></morris-sales-graph>
                                            <morris-stacked-bar-graph ng-if="chart.ctype=='STACKED_BAR' && filtersLoaded" chart-item="chart" filter-info="filterInfo" filter-range-set="filterRangeSet" filter-set="filterSet" parent-item="parentItem" ></morris-stacked-bar-graph>
                                            <list-chart ng-if="chart.ctype=='LIST' && filtersLoaded" chart-item="chart" filter-info="filterInfo" filter-range-set="filterRangeSet" filter-set="filterSet" parent-item="parentItem" ></list-chart>
                                            <easy-pie-chart ng-if="chart.ctype=='EASY_PIE' && filtersLoaded" chart-item="chart" filter-info="filterInfo" filter-range-set="filterRangeSet" filter-set="filterSet" parent-item="parentItem" ></easy-pie-chart>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>

</section>


