<div id="content">
    <div jarvis-widget class="dataTables_wrapper form-inline jarviswidget" data-widget-color="darken"
         style="margin-bottom: 0px" data-widget-editbutton="true" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">

        <header class="modal-header">
            <button type="button" class="close" style="color: white; margin-top: 0.3em; margin-right: 0.5em;"
                    ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;
            </button>
            <h2 style="margin-left: 5px">
                <span class="widget-icon">{{actionWindowTitle}}</span>
            </h2>
        </header>
    </div>

    <div class="row">
        <autogen-window-tabs window-generator-id="{{actionWindowId}}"></autogen-window-tabs>
    </div>

</div>