<section id="widget-form" class="">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
            <!-- form -->
            <div role="content">
                <!-- widget content -->
                <div class="widget-body">
                    <!-- No data -->
                    <div class="row" id="warning_readonly" ng-hide="fields && fields.length > 0">
                        <article class="col-sm-12">
                            <div class="alert alert-info fade in">
                                <i class="fa-lg fa fa-bullhorn"></i>
                                <strong>{{getMessage('AD_msgDataAlert')}}</strong> {{getMessage('AD_msgDataNoCharacteristic')}}
                            </div>
                        </article>
                    </div>
                    <div class="row tabbable boxed parentTabs" ng-if="fields.length>0">
                        <div class="padding-5 well col col-md-3 col-sd-3  col-lg-3 col-xs-12">
                            <ul id="tabs_characteristics"
                                class="nav nav-stacked">
                                <li class="active">
                                    <a href="#char_content_{{fields[0].idCharacteristic}}" ng-click="clickedItem(field)"
                                       data-toggle="tab">
                                        {{getColumnCaption(fields[0].tableName,fields[0].name, fields[0].idField)}}
                                    </a>
                                </li>
                                <li ng-repeat="field in fields" ng-if="$index > 0">
                                    <a href="#char_content_{{field.idCharacteristic}}" ng-click="clickedItem(field)"
                                       data-toggle="tab">
                                        {{getColumnCaption(field.tableName,field.name, field.idField)}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col col-md-9 col-sd-9  col-lg-9 col-xs-12">
                            <div id="characteristics_tab_content"
                                 class="tab-content well widget-body padding-5">
                                <div id="char_content_{{fields[0].idCharacteristic}}"
                                     class="tab-pane fade in active">
                                    <div ng-switch on="fields[0].ctype">
                                        <div ng-switch-when="SELECT_ITEM">
                                            <autogen-form-characteristics-value-list ng-if="fields[0].idCharacteristic"
                                                                                     characteristic="fields[0]"
                                                                                     parent-item="parentItem"
                                                                                     key-value="parentItem.item.id"
                                                                                     id-client="parentItem.item.idClient">
                                            </autogen-form-characteristics-value-list>
                                        </div>
                                        <div ng-switch-default>
                                            <autogen-form-characteristics-value-single ng-if="fields[0].idCharacteristic"
                                                                                     characteristic="fields[0]"
                                                                                     parent-item="parentItem"
                                                                                     key-value="parentItem.item.id"
                                                                                     id-client="parentItem.item.idClient">
                                            </autogen-form-characteristics-value-single>
                                        </div>
                                    </div>
                                </div>
                                <div ng-repeat="field in fields" ng-if="$index > 0"
                                     id="char_content_{{field.idCharacteristic}}"
                                     class="tab-pane fade">
                                    <div ng-switch on="field.ctype">
                                        <div ng-switch-when="SELECT_ITEM">
                                            <autogen-form-characteristics-value-list ng-if="field.idCharacteristic && parentItem.item"
                                                                                     characteristic="field"
                                                                                     parent-item="parentItem"
                                                                                     key-value="parentItem.item.id"
                                                                                     id-client="parentItem.item.idClient">
                                            </autogen-form-characteristics-value-list>
                                        </div>
                                        <div ng-switch-default>
                                            <autogen-form-characteristics-value-single ng-if="field.idCharacteristic"
                                                                                       characteristic="field"
                                                                                       parent-item="parentItem"
                                                                                       key-value="parentItem.item.id"
                                                                                       id-client="parentItem.item.idClient">
                                            </autogen-form-characteristics-value-single>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<div ng-include="editingWindowDialogTemplate"></div>

