<div class="pull-right header-filter">
    <span ng-if="!hideExtraButtons">
        <div ng-if="tabInformation.ttype != 'CHART'" class="filters">
            <a  ng-if="!sortMode" class="btn btn-link input" autogen-navigator event-name="'NAVIGATION_REFRESH'" tab-id="tabGeneratorId" title="{{getMessage('AD_msgCaptionBarRefresh')}}">
                <i class="fa fa-refresh"></i>
            </a>
            <a ng-if="!sortMode && tabInformation.uipattern == 'STANDARD' && !tabInformation.runtime.readonly"
               class="btn btn-link" title="{{::$root.getMessage('AD_msgCaptionBarNew')}}" ng-click="throwNewClick(item)">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
            <a class="btn btn-link" ng-if="!sortMode && showEdit(tabInformation) && tabInformation.runtime.multiselect" title="{{::$root.getMessage('AD_msgCaptionBarNewMultiSelect')}}" ng-click="throwMultipleNewClick()">
                <i class="fa fa-plus-square"></i>
            </a>
            <a ng-if="!sortMode && tabInformation.runtime.relatedTab" autogen-navigator event-name="'NAVIGATION_CHANGE_VIEW_MODE'" tab-id="tabGeneratorId"
               class="btn btn-link" is-checkbox="true" checkbox-status="true" title="{{::$root.getMessage('AD_msgCaptionBarSwitchView')}}">
                <i class="fa fa-th-large"></i>
            </a>
            <a ng-if="!sortMode && tabInformation.uipattern == 'STANDARD' && tabInformation.runtime.sortable"
               class="btn btn-link" title="{{::$root.getMessage('AD_msgCaptionBarSort')}}" ng-click="showSorting()">
                <i class="fa fa-sort-alpha-asc"></i>
            </a>
            <a ng-if="sortMode && tabInformation.uipattern == 'STANDARD' && tabInformation.runtime.sortable"
                class="btn btn-link" title="{{::$root.getMessage('AD_msgCaptionBarSortHide')}}" ng-click="showSorting()">
                 <i class="fa fa-align-justify"></i>
            </a>
            <a ng-if="!sortMode && stdPref.canExportListData" class="btn btn-link" title="{{::$root.getMessage('AD_msgCaptionBarDownload')}}" ng-click="exportTable()">
                <i class="fa fa-download"></i>
            </a>

            <span ng-if="!sortMode" ng-repeat="field in extraFieldButtons">
                <a ng-if="field.column.refButton.info.btype=='PROCESS'" class="btn btn-link"
                   title="{{getColumnCaption(field.tableName, field.name, field.idField)}}" ng-click="executeProcess(field)">
                    <i class="{{field.column.refButton.info.icon}}"></i>
                </a>
                <a ng-if="!sortMode && field.column.refButton.info.btype=='JAVASCRIPT'" class="btn btn-link"
                   title="{{getColumnCaption(field.tableName, field.name, field.idField)}}" ng-click="executeJSCode(field)">
                    <i class="{{field.column.refButton.info.icon}}"></i>
                </a>
            </span>
            <a class="btn btn-link" ng-if="!sortMode && (!tabInformation.runtime.readonly || showEdit(tabInformation))"
               title="{{::$root.getMessage('AD_msgCaptionBarEdit')}}" ng-click="throwEditClick()">
                <i class="fa fa-pencil-square-o"></i>
            </a>
            <a class="btn btn-link" ng-if="!sortMode && showReadonly(tabInformation)" title="{{::$root.getMessage('AD_msgCaptionBarView')}}" ng-click="throwEditClick()">
                <i class="fa fa-eye"></i>
            </a>
            <a class="btn btn-link" ng-if="!sortMode && (!tabInformation.runtime.readonly && showDelete(tabInformation))"
               title="{{::$root.getMessage('AD_msgCaptionBarDelete')}}" ng-click="deleteItems()">
                <i class="fa fa-trash"></i>
            </a>
            <autogen-table-grid-column-selector ng-if="!sortMode && tabGeneratorId && stdPref.canChangeViewColumns && !showCardMode" tab-generator-id="tabGeneratorId"></autogen-table-grid-column-selector>
            <select class="header-filter-select" style="color: black"
                    ng-model="tableData.tablePageSize" ng-options="item for item in tablePageSizeList">
            </select>
        </div>
        <span ng-if="tabInformation.ttype == 'CHART'" class="col col-xs-12 col-sm-12 col-md-12 ">
            <div class="">
                <a class="btn btn-link input" autogen-navigator event-name="'NAVIGATION_REFRESH_CHART'" tab-id="tabGeneratorId" title="{{getMessage('AD_msgCaptionBarRefresh')}}">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
        </span>
    </span>
</div>