<div class="row smart-form ">
    <div class="col-sm-12" id="{{tableGeneratorTitle}}">
        <div ng-if="groupedSearch" class="table-filters grouped-search-filter">
            <section class="">
                <label class="input">&nbsp;</label>
                <div class="input-group inline">
                    <input class="form-control" type="text" name="searchFilter" ng-model="filterInfo.filters.search" placeholder="" style="padding-left: 5px"/>
                    <span class="input-group-addon autogen-grid-filter" style="padding-left: 10px; padding-right: 10px">
                        <li class="fa fa-search"></li>
                    </span>
                </div>
            </section>
        </div>

        <div class="table-filters" ng-repeat="currentColumn in allFilters">
            <div ng-switch on="currentColumn.filterType">
                <div ng-switch-when="SINGLE">
                    <div ng-switch on="getFieldType(currentColumn)" class="input">
                        <section ng-class="{ 'table-filters-{{getFieldType(currentColumn)}}': currentColumn.field.filterType == 'STANDARD', 'table-filters-MULTISELECT': currentColumn.field.filterType == 'MULTISELECT' } ">
                            <label class="header-filter-label">{{getColumnCaption(currentColumn.tableName, currentColumn.name)}}</label>
                            <label ng-switch-when="STRING" class="input autogen-grid-filter">
                                <input class="form-control" type="text" name="{{currentColumn.filterName}}"
                                       ng-model="filterInfo.filters[currentColumn.filterName]" placeholder=""
                                       ng-change="changeFilter(currentColumn.filterName, filterInfo.filters[currentColumn.filterName])"/>
                            </label>
                            <label ng-switch-when="DATE" class="input autogen-grid-filter">
                                <input class="form-control" type="text"
                                       name="{{currentColumn.filterName}}" data-smart-datepicker
                                       ng-model="filterInfo.filters[currentColumn.filterName]"
                                       data-date-format="dd/mm/yy" data-moment-date-format="D/M/YYYY" delayed/>
                            </label>
                            <label ng-switch-when="TIMESTAMP" class="input autogen-grid-filter">
                                <input class="form-control" type="text"
                                       name="{{currentColumn.filterName}}" data-smart-datepicker
                                       ng-model="filterInfo.filters[currentColumn.filterName]"
                                       data-date-format="dd/mm/yy" data-moment-date-format="D/M/YYYY" delayed/>
                            </label>
                            <label ng-switch-when="LIST" class="input autogen-grid-filter">
                                <div input-list-selector ng-if="!currentColumn.field || currentColumn.field.filterType == 'STANDARD'"
                                     ng-model="filterInfo.filters[currentColumn.filterName]"
                                     name="{{currentColumn.filterName}}" field-attr="{{getListFieldAttr(currentColumn)}}"
                                     id-column-data-attr="idColumnData"  field-value-data-attr="fieldValueData"
                                     field-display-data-attr="fieldDisplayData"
                                     selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData, currentColumn.filterName)"
                                     sqlwhere-attr="{{currentColumn.runtime.sqlwhere}}" ng-change="changeColumn(currentColumn)">
                                </div>
                                <div ng-if="currentColumn.field && currentColumn.field.filterType == 'MULTISELECT'" class="input input-file">
                                    <input type="hidden" class="form-control" style="width:100%; overflow: auto;"
                                           ng-model="filterInfo.filters[currentColumn.filterName]"
                                           id="{{currentColumn.filterName}}" field-attr="{{getListFieldAttr(currentColumn)}}"
                                           sqlwhere-attr="{{currentColumn.runtime.sqlwhere}}"
                                           selected-fn-attr="selectMultipleElement(idColumnData, fieldValueData, fieldDisplayData, addedData)"
                                           ng-change="changeColumn(currentColumn)" name="{{currentColumn.filterName}}"
                                           input-list-selector-remote data-placeholder=""/>
                                </div>
                            </label>
                            <label ng-switch-when="TABLEDIR" class="input autogen-grid-filter">
                                <div input-table-dir-selector
                                     ng-model="filterInfo.filters[currentColumn.filterName]"
                                     name="{{currentColumn.filterName}}"
                                     field-attr="{{getFieldAttr(currentColumn)}}"
                                     id-column-data-attr="idColumnData"
                                     field-value-data-attr="fieldValueData"
                                     field-display-data-attr="fieldDisplayData"
                                     selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"
                                     sqlwhere-attr="{{currentColumn.runtime.sqlwhere}}"
                                     ng-change="changeColumn(currentColumn)">
                                </div>
                            </label>
                            <label ng-switch-when="TABLE" class="input input-file autogen-grid-filter">
                                <input type="hidden" class="form-control" name="{{currentColumn.name}}"
                                       field-attr="{{getFieldAttr(currentColumn)}}"
                                       item-attr="{{fieldValue}}" tab-id-attr="{{scope.tab}}"
                                       sqlwhere-attr="" id-column-data-attr="idColumnData" ng-required="false"
                                       field-value-data-attr="fieldValueData" field-display-data-attr="fieldDisplayData"
                                       selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"
                                       ng-change="changeValue(currentColumn)" input-table-selector-remote data-placeholder=""
                                       ng-model="filterInfo.filters[currentColumn.filterName]"/>
                            </label>
                            <label ng-switch-when="SEARCH" class="input input-file autogen-grid-filter">
                                <span class="button">
                                    <input type="text" id="currentColumn.standardName"
                                           name="{{currentColumn.name}}" field-attr="{{getFieldAttr(currentColumn)}}"
                                           item-attr="{{fieldValue}}" input-search-selector
                                           sqlwhere-attr="" id-column-data-attr="idColumnData"
                                           field-value-data-attr="fieldValueData" field-display-data-attr="fieldDisplayData"
                                           selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"
                                           ng-required="false" ng-model="filterInfo.filters[currentColumn.filterName]"
                                           ng-change="changeValue(currentColumn)">
                                    <i class="fa fa-search-plus"></i>
                                </span>
                                <input type="text" placeholder="" readonly="" value="{{fieldValue[field.column.name]}}">
                            </label>
                            <label ng-switch-when="YESNO" class="input autogen-grid-filter">
                                <select class="form-control" ng-model="filterInfo.filters[currentColumn.filterName]"
                                        style="width:100%;" name="{{currentColumn.filterName}}"
                                        ng-options="current.value as current.name for current in yesNoValues">
                                </select>
                            </label>
                            <label ng-switch-when="INTEGER" class="input">
                                <input step="1" type="number" ng-model="filterInfo.filters[currentColumn.filterName]" style="width:100%;"
                                       ng-change="changeFilter(currentColumn.filterName,filterInfo.filters[currentColumn.filterName])"/>
                            </label>
                            <label ng-switch-when="NUMBER" class="input">
                                <input step="0.1" type="number" ng-model="filterInfo.filters[currentColumn.filterName]" style="width:100%;"
                                       ng-change="changeFilter(currentColumn.filterName,filterInfo.filters[currentColumn.filterName])"/>
                            </label>

                            <label ng-switch-default class="input autogen-grid-filter">
                                <input class="form-control" type="text" name="{{currentColumn.filterName}}"
                                       ng-model="filterInfo.filters[currentColumn.filterName]" placeholder=""
                                       ng-change="changeFilter(currentColumn.filterName,filterInfo.filters[currentColumn.filterName])"/>
                            </label>
                        </section>
                    </div>
                </div>
                <div ng-switch-when="RANGED" class="input">
                    <section class="table-filters-RANGED">
                        <label class="header-filter-label">{{currentColumn.caption}}</label>
                        <div>
                            <!-- Start range value -->
                            <label ng-if="getFieldType(currentColumn)=='STRING'" class="pull-left table-filters-{{getFieldType(currentColumn)}}">
                                <input class="form-control" type="text" name="{{currentColumn.standardName}}_start"
                                       style="width: 100%" placeholder=""
                                       ng-model="filtersRange[currentColumn.standardName].start"
                                       ng-change="changeFilterRange(filtersRange[currentColumn.standardName].start, currentColumn.standardName, 'start')"/>
                            </label>
                            <label ng-if="getFieldType(currentColumn)=='DATE' || getFieldType(currentColumn)=='TIMESTAMP'" class="pull-left table-filters-{{getFieldType(currentColumn)}}">
                                <input class="form-control" type="text"
                                       name="{{currentColumn.column.filterName}}_start"
                                       ng-model="filtersRange[currentColumn.standardName].start"
                                       id="{{currentColumn.standardName}}{{tabGeneratorId}}_start"
                                       ng-change="changeFilterRange(filtersRange[currentColumn.standardName].start, currentColumn.standardName, 'start')"
                                       style="width: 100%" data-leave-blank delayed data-smart-datepicker
                                       data-date-format="dd/mm/yy" data-moment-date-format="D/M/YYYY"/>
                            </label>
                            <label ng-if="getFieldType(currentColumn)=='INTEGER' || getFieldType(currentColumn)=='NUMBER'" class="pull-left table-filters-{{getFieldType(currentColumn)}}">
                                <input step="1" class="form-control" type="number"
                                       name="{{currentColumn.standardName}}_start"
                                       style="width: 100%" placeholder=""
                                       ng-model="filtersRange[currentColumn.standardName].start"
                                       ng-change="changeFilterRange(filtersRange[currentColumn.standardName].start, currentColumn.standardName, 'start')"/>
                            </label>
                            <label class="pull-left" style="margin-top: 6px;">&nbsp;-&nbsp;</label>
                            <!-- End range value -->
                            <label ng-if="getFieldType(currentColumn)=='STRING'" class="pull-left table-filters-{{getFieldType(currentColumn)}}">
                                <input class="form-control" type="text"
                                       name="{{currentColumn.standardName}}_end"
                                       style="width: 100%" placeholder=""
                                       ng-model="filtersRange[currentColumn.standardName].end"
                                       ng-change="changeFilterRange(filtersRange[currentColumn.standardName].end, currentColumn.standardName, 'end')"/>
                            </label>
                            <label ng-hide="currentColumn.hidden" ng-if="getFieldType(currentColumn)=='DATE'" class="pull-left table-filters-{{getFieldType(currentColumn)}}">
                                <input class="form-control" type="text"
                                       name="{{currentColumn.standardName}}_end"
                                       ng-model="filtersRange[currentColumn.standardName].end"
                                       id="{{currentColumn.standardName}}{{tabGeneratorId}}_end"
                                       ng-change="changeFilterRange(filtersRange[currentColumn.standardName].end, currentColumn.standardName, 'end')"
                                       data-date-format="dd/mm/yy" data-moment-date-format="D/M/YYYY"
                                       style="width: 100%" leave-blank delayed data-leave-blank data-smart-datepicker/>
                            </label>
                            <label ng-hide="currentColumn.hidden" ng-if="getFieldType(currentColumn)=='TIMESTAMP'" class="pull-left table-filters-{{getFieldType(currentColumn)}}">
                                <smart-datetimepicker
                                        name="{{currentColumn.column.filterName}}_end"
                                        ng-model="filtersRange[currentColumn.standardName].end"
                                        id="{{currentColumn.standardName}}{{tabGeneratorId}}_end"
                                        ng-change="changeFilterRange(filtersRange[currentColumn.standardName].end, currentColumn.standardName, 'end')">
                                </smart-datetimepicker>
                            </label>
                            <label ng-if="getFieldType(currentColumn)=='INTEGER' || getFieldType(currentColumn)=='NUMBER'" class="pull-left table-filters-{{getFieldType(currentColumn)}}">
                                <input step="1" class="form-control" type="number"
                                       name="{{currentColumn.standardName}}_end"
                                       style="width: 100%" placeholder=""
                                       ng-model="filtersRange[currentColumn.standardName].end"
                                       ng-change="changeFilterRange(filtersRange[currentColumn.standardName].end, currentColumn.standardName, 'end')"/>
                            </label>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="pull-left" ng-if="sortMode" style="width: 16em;">
            <section class="table-filters-sortable">
                <label class="">{{::$root.getMessage("AD_StepSize")}}</label>
                <label class="input autogen-grid-filter">
                        <select aria-controls="DataTables_Table_1" style="width: 100%;" class="form-control input-sm"
                                ng-model="tableData.sortStep" ng-change="notifySortChange(tableData)"
                                ng-options="item for item in gridViewSortStepList">
                        </select>
                </label>
            </section>
            <section class="table-filters-sortable">
                <label class="">{{::$root.getMessage("AD_StepStart")}}</label>
                <label class="input autogen-grid-filter">
                    <input step="1" type="number" ng-change="notifySortChange(tableData)" ng-model="tableData.sortStart" style="width: 100%;"/>
                </label>
            </section>
        </div>
    </div>
</div>

<div ng-include="editingWindowDialogTemplate"></div>

<div ng-include="processDialogTemplate"></div>