<div ng-repeat="field in roww.fields">
    <section ng-switch on="field.column.reference.rtype"
             class="col col-xs-12 col-sm-12 col-md-{{field.bootstrapGroupColumns?field.bootstrapGroupColumns:field.bootstrapCol}} col-ld-{{field.bootstrapGroupColumns?field.bootstrapGroupColumns:field.bootstrapCol}}">
        <label ng-if="field.column.reference.rtype != 'BUTTON'" class="label" ng-show="field.display">
            {{::$root.getColumnCaption(field.tableName, field.name, field.idField)}}
            <reference-inline-editor ng-if="editReferences && (field.column.reference.rtype === 'TABLEDIR' || field.column.reference.rtype === 'TABLE' || field.column.reference.rtype === 'SEARCH')"
                                     field="field" field-attr="field" value-attr="value"
                                     create-callback="referenceInlineUpdate(field, value)"
                                     value="fieldValue['KEY_' + field.column.name]">
            </reference-inline-editor>
        </label>

        <label ng-switch-when="IMAGEVIEW" class="input" ng-if="field.display">
            <img ng-show="'{{fieldValue[field.column.name]}}' != ''" ng-src="{{fieldValue[field.column.name]}}" width="150"/>
        </label>

        <label ng-switch-when="IMAGE" class="input" ng-if="field.display">
            <label ng-if="field.readonly">{{fieldValue[field.column.name]}}</label>

            <div class="row" style="margin-left: 0px" ng-if="!field.readonly">
                <div class="input input-file col-md-{{getBootrapWidth(field, item)}} " >
                    <span class="button">
                        <input type="file" id="{{field.column.name}}" name="{{field.column.name}}" file-uploader
                               ng-required="{{field.column.mandatory}}" ng-model="fieldValue[field.column.name]"
                               ng-change="changeValue(field)" ng-focus="doEnter(field)">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                    </span>
                    <input type="text" placeholder="..." readonly="" value="{{fieldValue[field.column.name]}}">
                </div>
                <button ng-if="field.column.translatable && isEditing && editReferences" ng-click="showTranslation(field, item)" type="button"
                        class="btn btn-primary autogen-btn ng-scope pull-left col-xs-2" style="margin-top: 0px;">
                    <i class="fa  fa-language"></i>
                </button>
                <button ng-if="fieldValue[field.column.name] && item.id" ng-click="deleteImage(field, item)" type="button"
                        class="btn btn-primary autogen-btn ng-scope pull-left col-xs-2" style="margin-top: 0px;">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
        </label>

        <label ng-switch-when="FILE" class="input" ng-if="field.display">
            <label ng-if="field.readonly" class="{{field.cssClass ? field.cssClass : ''}}">{{fieldValue[field.column.name]}}</label>

            <div class="row" style="margin-left: 0px">
                <div class="input input-file col-md-9" ng-if="!field.readonly">
                    <span class="button">
                        <input type="file" id="{{field.column.name}}" name="{{field.column.name}}" file-uploader
                               ng-required="{{field.column.mandatory}}" ng-model="fieldValue[field.column.name]"
                               ng-change="changeValue(field)" ng-focus="doEnter(field)">
                        <i class="fa fa-upload"></i>
                    </span>
                    <input type="text" placeholder="..." readonly="" value="{{fieldValue[field.column.name]}}">
                </div>
                <button ng-if="field.column.translatable && isEditing && editReferences" ng-click="showTranslation(field, item)" type="button"
                        class="btn btn-primary autogen-btn ng-scope pull-left col-xs-2" style="margin-top: 0px;">
                    <i class="fa  fa-language"></i>
                </button>
            </div>
        </label>

        <label ng-switch-when="STRING" class="input" ng-if="field.display">
            <label ng-if="field.readonly" class="{{field.cssClass ? field.cssClass : ''}}">{{fieldValue[field.column.name]}} </label>
            <i ng-if="field.column.translatable && !field.readonly && isEditing && editReferences" class="icon-prepend fa fa-language"
               ng-click="showTranslation(field, item)"></i>
            <input type="text" name="{{field.column.name}}" ng-required="{{field.column.mandatory}}"
                   ng-if="!field.readonly"  ng-trim="false" ng-focus="doEnter(field)" placeholder="{{field.placeholder}}"
                   ng-model="fieldValue[field.column.name]" ng-change="changeValue(field)" class="form-control"/>
            <b class="tooltip tooltip-top-right" ng-if="getDescription(field.name)" ng-bind-html="getDescription(field.name)"></b>
        </label>

        <label ng-switch-when="DATE" class="input" ng-if="field.display">
            <label ng-if="field.readonly" class="{{field.cssClass ? field.cssClass : ''}}">{{fieldValue[field.column.name] | date : stdPref.dateFormat}}</label>

            <div ng-if="!field.readonly">
                <i ng-if="field.column.translatable && isEditing && editReferences" class="icon-prepend fa fa-language"
                   ng-click="showTranslation(field, item)"></i>
                <i class="icon-append fa fa-calendar"></i>
                <input class="form-control" type="text" name="{{field.column.name}}" placeholder="{{field.placeholder}}"
                       ng-required="{{field.column.mandatory}}" ng-focus="doEnter(field)"
                       ng-model="fieldValue[field.column.name]" ng-change="changeValue(field)" data-leave-blank
                       data-date-format="dd/mm/yy" data-moment-date-format="D/M/YYYY" data-smart-datepicker
                       placeholder=""/>
                <b class="tooltip tooltip-top-right" ng-if="getDescription(field.name)" ng-bind-html="getDescription(field.name)"></b>
            </div>
        </label>

        <label ng-switch-when="TIMESTAMP" class="input" ng-if="field.display">
            <label ng-if="field.readonly" class="{{field.cssClass ? field.cssClass : ''}}">{{fieldValue[field.column.name] | date : stdPref.dateTimeFormat}}</label>

            <div ng-if="!field.readonly">
                <i ng-if="field.column.translatable && isEditing && editReferences" class="icon-prepend fa fa-language"
                   ng-click="showTranslation(field, item)"></i>

                <smart-datetimepicker
                        name="{{field.column.name}}"
                        ng-model="fieldValue[field.column.name]"
                        id="{{field.column.name}}"
                        ng-required="{{field.column.mandatory}}"
                        ng-focus="doEnter(field)"
                        ng-if="!field.readonly"
                        ng-change="changeValue(field)">
                </smart-datetimepicker>
                <b class="tooltip tooltip-top-right" ng-if="getDescription(field.name)" ng-bind-html="getDescription(field.name)"></b>
            </div>
        </label>

        <label ng-switch-when="TIME" class="input" ng-if="field.display">
            <label ng-if="field.readonly" class="{{field.cssClass ? field.cssClass : ''}}">{{fieldValue[field.column.name] | date : stdPref.timeFormat}}</label>
        </label>

        <label ng-switch-when="YESNO" class="checkbox" ng-if="field.display">
            <label ng-if="field.readonly" class="{{field.cssClass ? field.cssClass : ''}}">
                <span ng-if="fieldValue[field.column.name]">{{::$root.getMessage('AD_labelYes')}}</span>
                <span ng-if="!fieldValue[field.column.name]">{{::$root.getMessage('AD_labelNo')}}</span>
            </label>

            <div ng-if="!field.readonly" class="yes-no-checkbox">
                <input type="checkbox" name="{{field.column.name}}" ng-change="changeValue(field)"
                       ng-model="fieldValue[field.column.name]" ng-focus="doEnter(field)"/>
                <i></i>
                <b class="tooltip tooltip-top-right" ng-if="getDescription(field.name)" ng-bind-html="getDescription(field.name)"></b>
            </div>
        </label>

        <label ng-switch-when="INTEGER" class="input" ng-if="field.display">
            <label ng-if="field.readonly" class="{{field.cssClass ? field.cssClass : ''}}">{{fieldValue[field.column.name] | number}}</label>

            <input step="1"  ng-attr-min="{{field.valuemin?field.valuemin:undefined }}" ng-attr-max="{{field.valuemax?field.valuemax:undefined }}" ng-required="{{field.column.mandatory}}" type="number"
                   name="{{field.column.name}}" ng-focus="doEnter(field)" placeholder="{{field.placeholder}}"
                   class="form-control" ng-change="changeFieldValue(field)" ng-model="fieldValue[field.column.name]"
                   ng-if="!field.readonly" ng-attr-disabled="{{field.readonly?'disabled':undefined}}"/>
            <b class="tooltip tooltip-top-right" ng-if="getDescription(field.name)" ng-bind-html="getDescription(field.name)"></b>
        </label>

        <label ng-switch-when="NUMBER" class="input" ng-if="field.display">
            <label ng-if="field.readonly" class="{{field.cssClass ? field.cssClass : ''}}">{{fieldValue[field.column.name] | number : stdPref.fractionSize}}</label>

            <input step="{{stdPref.fractionSize | numberStep}}" ng-attr-min="{{field.valuemin?field.valuemin:undefined }}" ng-attr-max="{{field.valuemax?field.valuemax:undefined }}" type="number" name="{{field.column.name}}"
                   ng-required="{{field.column.mandatory}}" ng-if="!field.readonly" ng-focus="doEnter(field)"
                   ng-model="fieldValue[field.column.name]" ng-change="changeFieldValue(field)"
                   class="form-control"/>
            <b class="tooltip tooltip-top-right" ng-if="getDescription(field.name)" ng-bind-html="getDescription(field.name)"></b>
        </label>

        <label ng-switch-when="TEXT" ng-if="field.display" style="width:100%">
            <label ng-if="field.readonly" class="{{field.cssClass ? field.cssClass : ''}}">{{fieldValue[field.column.name]}}</label>

            <div ng-if="!field.readonly" style="width:100%" class="input-group" >

                <div class="input-group-addon text-area-translation" ng-if="field.column.translatable && !field.readonly && isEditing && editReferences" style="width:2px; box-sizing:border-box; "  ng-click="showTranslation(field, item)" >
                    <i style="border: 0px" class="icon-prepend fa fa-language"></i>
                </div>
                <textarea name="{{field.column.name}}" rows="4" class="form-control" style="border: 1px solid #ccc; padding-left: 6px" placeholder="{{field.placeholder}}"
                          ng-required="{{field.column.mandatory}}" ng-change="changeFieldValue(field)"  ng-trim="false"
                          ng-model="fieldValue[field.column.name]" ng-focus="doEnter(field)">
                </textarea>
            </div>
        </label>

        <label ng-switch-when="HTML" class="input" ng-if="field.display">
            <div ng-if="field.readonly" ng-bind-html="fieldValue[field.column.name]"></div>

            <div ng-if="!field.readonly">
                <textarea name="{{field.column.name}}" cols="32" rows="4" id="{{field.idField}}{{$id}}" ng-focus="doEnter(field)"
                          data-smart-ck-editor extra-templates="htmlTemplates" delayed id-attr="item.id" id-table-attr="windowTabInfo.idTable"
                          ng-required="{{field.column.mandatory}}" ng-change="changeFieldValue(field)"
                          fn-on-focus="doComponentEnter(name)"
                          ng-model="fieldValue[field.column.name]">
                </textarea>
                <button ng-if="field.column.translatable && isEditing && editReferences" ng-click="showTranslation(field, item)" type="button" class="btn btn-primary autogen-btn">
                    <i class='fa fa-language'></i>
                </button>
            </div>
        </label>

        <label ng-switch-when="EMAIL" class="input" ng-if="field.display">
            <label ng-if="field.readonly" class="{{field.cssClass ? field.cssClass : ''}}">{{fieldValue[field.column.name]}}</label>

            <input type="email" name="{{field.column.name}}" ng-required="{{field.column.mandatory}}"
                   ng-model="fieldValue[field.column.name]" ng-focus="doEnter(field)" placeholder="{{field.placeholder}}"
                   ng-change="changeFieldValue(field)" class="form-control" ng-if="!field.readonly"/>
            <b class="tooltip tooltip-top-right" ng-if="getDescription(field.name)" ng-bind-html="getDescription(field.name)"></b>
        </label>

        <label ng-switch-when="PASSWORD" class="input" ng-if="field.display">
            <label ng-if="field.readonly" class="{{field.cssClass ? field.cssClass : ''}}">•••••••</label>

            <input type="password" name="{{field.column.name}}" ng-required="{{field.column.mandatory}}"
                   ng-if="!field.readonly" ng-trim="false" ng-focus="doEnter(field)"
                   ng-model="fieldValue[field.column.name]" ng-change="changeFieldValue(field)"
                   class="form-control"/>
            <b class="tooltip tooltip-top-right" ng-if="getDescription(field.name)" ng-bind-html="getDescription(field.name)"></b>
        </label>

        <label ng-switch-when="LIST" class="input" ng-if="field.display">
            <!-- field.readonly is process in "input-list-selector" -->

            <div input-list-selector ng-model="fieldValue[field.column.name]" name="{{field.column.name}}"
                 field-attr="{{getListFieldAttr(field)}}" tab-id-attr="{{scope.tab}}"
                 id-column-data-attr="idColumnData" field-value-data-attr="fieldValueData"
                 field-display-data-attr="fieldDisplayData"
                 selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"
                 fn-on-focus="doComponentEnter(name)" ng-required="{{field.column.mandatory}}"
                 ng-change="changeValue(field)">
            </div>
        </label>

        <label ng-switch-when="LISTMULTIPLE" class="input" ng-if="field.display">
            <input type="hidden" class="form-control" style="width:100%; overflow: auto;"
                   ng-model="fieldValue['ARRAY_'+field.column.name]"
                   id="{{field.column.name}}" field-attr="{{getListFieldAttr(field)}}"
                   selected-fn-attr="selectMultipleElement(idColumnData, fieldValueData, fieldDisplayData, addedData)"
                   ng-change="changeValue(field)" name="{{field.column.name}}"
                   fn-on-focus="doComponentEnter(name)"
                   input-list-selector-remote data-placeholder=""/>
        </label>

        <label ng-switch-when="TABLE" class="input" ng-if="field.display">
            <label ng-if="field.readonly"  field-attr="{{getFieldAttr(field)}}"
                   item-attr="{{fieldValue}}" tab-id-attr="{{scope.tab}}"
                   id-column-data-attr="idColumnData" field-value-data-attr="fieldValueData"
                   field-display-data-attr="fieldDisplayData"
                   selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"
                   input-table-selector-remote fn-on-focus="doComponentEnter(name)"
                   ng-model="fieldValue[field.column.name]">{{fieldValue[field.column.name]}}
            </label>

            <div ng-if="!field.readonly" class="input input-file">
                <input type="hidden" class="form-control"
                       id="{{field.column.standardName}}"
                       style="width:100%; margin-top: -2px; min-width: 160px"
                       field-attr="{{getFieldAttr(field)}}"  item-attr="{{fieldValue}}"
                       tab-id-attr="{{scope.tab}}" id-column-data-attr="idColumnData"
                       field-value-data-attr="fieldValueData" field-display-data-attr="fieldDisplayData"
                       ng-focus="doEnter(field)"
                       selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"
                       ng-required="{{field.column.mandatory}}" ng-change="changeValue(field)"
                       input-table-selector-remote data-placeholder="" fn-on-focus="doComponentEnter(name)"
                       ng-model="fieldValue[field.column.name]" name="{{field.column.name}}"/>
            </div>
        </label>

        <label ng-switch-when="TABLEDIR" class="input" ng-if="field.display">
            <label ng-if="field.readonly" ng-model="fieldValue[field.column.name]"  field-attr="{{getFieldAttr(field)}}"
                   input-search-read-only-selector>
            </label>

            <div ng-if="!field.readonly" input-table-dir-selector ng-model="fieldValue[field.column.name]"
                 name="{{field.column.name}}" field-attr="{{getListFieldAttr(field)}}"
                 item-attr="fieldValue" tab-id-attr="{{scope.tab}}"
                 id-column-data-attr="idColumnData" field-value-data-attr="fieldValueData"
                 field-display-data-attr="fieldDisplayData" sqlwhere-attr="{{field.runtime.sqlwhere}}"
                 related-item="item" parent-item="parentItem.item"
                 selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"
                 fn-on-focus="doComponentEnter(name)" ng-required="{{field.column.mandatory}}"
                 ng-change="changeValue(field)">
            </div>
        </label>

        <label ng-switch-when="SEARCH" class="input" ng-if="field.display">
            <label ng-if="field.readonly" ng-model="fieldValue[field.column.name]"  field-attr="{{getFieldAttr(field)}}"
                   input-search-read-only-selector>
            </label>

            <div ng-if="!field.readonly" class="input input-file">
                <span class="button"><input type="text" id="{{field.column.standardName}}"
                                            input-search-selector
                                            name="{{field.column.name}}" field-attr="{{getFieldAttr(field)}}"
                                            item-attr="{{fieldValue}}" tab-id-attr="{{scope.tab}}" sqlwhere-attr="{{field.runtime.sqlwhere}}"
                                            id-column-data-attr="idColumnData" field-value-data-attr="fieldValueData" field-display-data-attr="fieldDisplayData"
                                            selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"
                                            ng-required="{{field.column.mandatory}}" ng-model="fieldValue[field.column.name]"
                                            ng-change="changeValue(field)"
                                            ng-focus="doEnter(field)">
                    <i class="fa fa-search"></i>
                </span>
                <input type="text" placeholder="" readonly="" value="{{fieldValue[field.column.name]}}">
            </div>
        </label>

        <label ng-switch-when="BUTTON" class="input" ng-if="includeButtonsInBootstrap && field.display && !forceReadOnly && !disableInline">
            <button ng-if="field.column.refButton.info.btype=='PROCESS'" type="button" name="cancel"
                    ng-click="executeProcess(item,field)" class="btn btn-success autogen-btn">
                <i class={{field.column.refButton.info.icon}}></i>
                {{::getColumnCaption(field.tableName, field.name, field.idField)}}
            </button>
            <button ng-if="field.column.refButton.info.btype=='ACTION'" type="button" name="cancel"
                    ng-click="field.column.refButton.info.jsCode" class="btn btn-success autogen-btn">
                <i class={{field.column.refButton.info.icon}}></i>
                {{::getColumnCaption(field.tableName, field.name, field.idField)}}
            </button>
        </label>

        <label ng-switch-default class="input" ng-if="field.display">
            <label ng-if="field.readonly" class="{{field.cssClass ? field.cssClass : ''}}">{{fieldValue[field.column.name]}}</label>
            <input type="text" name="{{field.column.name}}" ng-required="{{field.column.mandatory}}"
                   ng-if="!field.readonly" ng-trim="false"
                   ng-model="fieldValue[field.column.name]" ng-change="changeFieldValue(field)"
                   class="form-control"/>
        </label>

        <span class="error-message" ng-if="!field.readonly && field.column.reference.rtype != 'BUTTON'" ng-show="tableForm.$dirty">
            <span class="error-message" ng-if="field.column.reference.rtype != 'BUTTON'"
                  ng-show="field.column.mandatory && (field.column.reference.rtype!='YESNO') && (fieldValue[field.column.name]===undefined || fieldValue[field.column.name]===null || fieldValue[field.column.name]==='')">
                     {{::$root.getMessage('AD_errFieldMandatory')}}
            </span>
            <span class="error-message" ng-if="field.column.reference.rtype == 'DATE' && tableForm[field.column.name].$error.dateFormat">
                {{::$root.getMessage('AD_errFieldDate')}}
            </span>
            <span class="error-message" ng-if="field.column.reference.rtype != 'BUTTON'" ng-show="tableForm[field.column.name].$error.number">
                {{::$root.getMessage('AD_errFieldNumber')}}
            </span>
        </span>
    </section>
</div>