<section id="widget-form" class="">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
            <!-- form -->
            <div role="content">
                <!-- widget content -->
                <div class="widget-body">
                    <section widget-grid id="widget-grid-characteristics">
                        <div class="row">
                            <article class="col-sm-12">

                                <div jarvis-widget class="dataTables_wrapper form-inline" data-widget-color="darken"
                                     data-widget-editbutton="true" data-widget-deletebutton="false"
                                     data-widget-fullscreenbutton="false">

                                    <header>
                                        <span class="widget-icon"> <i></i> </span>
                                        <h2>{{characteristic.name}}</h2>
                                        <div class="pull-right">
                                            <a class="btn btn-primary" ng-click="addCharacteristicValue()"><i
                                                    class="fa fa-plus"></i></a>
                                        </div>
                                    </header>

                                    <!-- No data -->
                                    <div class="row" id="warning_readonly" ng-hide="values && values.length > 0">
                                        <article class="col-sm-12">
                                            <div class="alert alert-info fade in">
                                                <i class="fa-lg fa fa-bullhorn"></i>
                                                <strong>{{getMessage('AD_msgDataAlert')}}</strong>
                                                {{getMessage('AD_msgDataEmpty')}}
                                            </div>
                                        </article>
                                    </div>

                                    <!-- Table -->
                                    <div class="{{!(values && values.length > 0) ? 'hidden':''}}">
                                        <div class="widget-body no-padding">
                                            <table ng-model="values" id="table-values"
                                                   class="table table-striped table-bordered table-hover" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>{{characteristic.name}}</th>
                                                        <th>{{getMessage('AD_characteristicType')}}</th>
                                                        <th>{{getMessage('AD_characteristicReference')}}</th>
                                                        <th>{{getMessage('AD_characteristicSeqno')}}</th>
                                                        <th>{{getMessage('AD_ReportMsgActive')}}</th>
                                                        <th>{{getMessage('AD_labelColumnActions')}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="smart-datatable-child-format" ng-repeat="item in values">
                                                        <td>{{item.name}}</td>
                                                        <td>{{item.typeValue}}</td>
                                                        <td>{{item.reference}}</td>
                                                        <td>{{item.seqno}}</td>
                                                        <td>
                                                            <span ng-if="item.active">{{::$root.getMessage('AD_labelYes')}}</span>
                                                            <span ng-if="!item.active">{{::$root.getMessage('AD_labelNo')}}</span>
                                                        </td>
                                                        <td>
                                                            <button ng-click="editCharacteristicValue(item)"
                                                                    class="btn btn-xs btn-default">
                                                                <i class='fa fa-pencil-square-o'></i>
                                                            </button>
                                                            <button class="btn btn-xs btn-default"
                                                                    ng-click="deleteCharacteristicValue(item)">
                                                                <i class='fa fa-trash'></i>
                                                            </button>
                                                            <span on-finish-render></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="dt-toolbar-footer">
                                                <div class="dataTables_info col-sm-12 col-xs-12 hidden-xs"
                                                     id="DataTables_Table_1_char" role="status" aria-live="polite">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </section>
                </div>
            </div>
        </article>
    </div>
</section>


<div ng-include="editCharacteristicTemplate"></div>
</div>
