<div id="content">
    <!-- widget grid -->
    <section id="widget-form" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                <h5 ng-if="!hideHeader">{{formName}}</h5>
                <!-- form -->
                <div role="content">
                    <!-- widget content -->
                    <div class="widget-body">
                        <form id="tableForm" name="tableForm" class="smart-form" novalidate>
                            {{header}}
                            <hr class="simple">
                            <div class="col-12">
                                <div ng-repeat="roww in fieldRows">
                                    <div class="row">
                                        <div ng-include="inputsTemplate"></div>
                                    </div>
                                </div>
                                <div ng-repeat="group in groups">
                                    <div ng-if="group.display" ng-show="group.collapsed">
                                        <h6><a href="" ng-click="toggleGroup(group.id)"><i
                                                class="fa fa-plus-square"></i></a> {{group.name}}</h6>
                                        <hr class="simple"/>
                                    </div>
                                    <div ng-if="group.display" ng-hide="group.collapsed">
                                        <h6><a href="" ng-click="toggleGroup(group.id)"><i
                                                class="fa fa-minus-square"></i></a> {{group.name}}</h6>
                                        <hr class="simple"/>
                                        <fieldset class="no-padding">
                                            <div ng-repeat="roww in group.fieldRows">
                                                <div class="row">
                                                    <div ng-include="inputsTemplate"></div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-12" style="margin-bottom: 1em;">
                                    <span ng-if="!includeButtonsInBootstrap" ng-repeat="button in buttons">
                                        <span ng-if="button.display && !forceReadOnly">
                                            <button ng-if="button.column.refButton.info.btype=='PROCESS'" type="button"
                                                    name="cancel"
                                                    ng-click="executeProcess(item, button)"
                                                    class="btn btn-primary autogen-btn">
                                                <i class={{button.column.refButton.info.icon}}></i>
                                                {{::$root.getColumnCaption(button.tableName, button.name, button.idField)}}
                                            </button>
                                            <button ng-if="button.column.refButton.info.btype=='ACTION'" type="button"
                                                    name="cancel"
                                                    ng-click="button.column.refButton.info.jsCode"
                                                    class="btn btn-primary autogen-btn">
                                                <i class={{button.column.refButton.info.icon}}></i>
                                                {{::$root.getColumnCaption(button.tableName, button.name, button.idField)}}
                                            </button>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-12">
                                    <table class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                        <tr>
                                            <th class="text-center" style="background-image: none; width: 20px">
                                                <input type="checkbox" ng-model="checkAll"
                                                       ng-click="verifySelection(checkAll)"/>
                                            </th>
                                            <th>
                                                <a ng-click="orderByFieldFnFilter({name: visualField.display}, visualField,currentFilterValue, referenceData.referencePageSize)">
                                                    {{::$root.getColumnCaption(multiselectField.tableName,multiselectField.name, multiselectField.idField)}}
                                                </a>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in multipleItems">
                                            <td class="text-center" style="width: 20px">
                                                <input type="checkbox" ng-model="item.selected"
                                                       ng-change="updateCheckAll()"/>
                                            </td>
                                            <td ng-click="checkItem(item)">{{item.name}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <footer>
                                <button type="button" name="cancel" ng-click="throwCancelClick()"
                                        class="btn btn-danger">
                                    {{::$root.getMessage('AD_btnCancel')}}
                                </button>
                                <button ng-if="!adTab.runtime.readonly" type="submit" ng-click="save()"
                                        class="btn btn-primary">
                                    {{::$root.getMessage('AD_btnSave')}}
                                </button>
                            </footer>

                        </form>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<div ng-include="editingWindowDialogTemplate"></div>
<div ng-include="searchWindowDialogTemplate"></div>
<div ng-include="searchInputWindowDialogTemplate"></div>

<div class="modal fade" id="loadingModal{{tabGeneratorId}}" tabindex="-1" role="dialog"
     aria-labelledby="remoteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">{{::getMessage('AD_msgOperationPerforming')}}</div>
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                         aria-valuemax="100" style="width: 100%">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="processDialogTemplate"></div>
<div ng-include="translationDialogTemplate"></div>

