<div id="content">
    <div ng-if="initialCharts.length==1">
        <autogen-table-generator ng-if="!showDirective && tabLoaded" tab-generator-id="{{adTab.idTab}}"
                                 table-generator-title="{{window.name}}"
                                 table-generator-icon="fa-list-alt"
                                 window-generator-id="{{windowGeneratorId}}">
        </autogen-table-generator>
        <autogen-asociated-tabs ng-if="showDirective" tab-generator-id="{{adTab.idTab}}" window-title="{{window.name}}"
                                window-generator-id="{{windowGeneratorId}}"
                                row-id="{{rowId}}">
        </autogen-asociated-tabs>
    </div>
    <div ng-if="initialCharts.length>1">
        <div id="content">
            <!-- widget grid -->

            <section id="widget-form" class="">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

                        <div jarvis-widget class="dataTables_wrapper form-inline" data-widget-color="darken"
                             data-widget-editbutton="true" data-widget-deletebutton="false"
                             data-widget-fullscreenbutton="false">

                            <header>
                                <span class="widget-icon"> <i class="fa {{tableGeneratorIcon}}"></i> </span>

                                <h2>{{windowTitle}}</h2>
                            </header>
                            <!-- form -->
                            <div role="content">
                                <!-- widget content -->
                                <div class="widget-body">
                                    <ul id="myTab{{windowTabInfo.idTab}}" class="nav nav-tabs bordered">
                                        <li ng-repeat="currentTab in initialCharts">
                                            <a href="#s{{currentTab.tab.idTab}}" id="{{currentTab.tab.idTab}}" ng-click="selectTab(currentTab.tab)" data-toggle="tab">
                                                <i class="fa fa-fw fa-lg fa-list-ul"></i>{{currentTab.tab.name}}
                                            </a>
                                        </li>
                                    </ul>

                                    <div id="myTabContent{{windowTabInfo.tablevel}}{{windowTabInfo.idTab}}" class="tab-content padding-10">
                                        <div class="tab-pane fade {{$index==0?'active in':''}}" ng-repeat="currentTab in initialCharts"
                                             id="s{{currentTab.tab.idTab}}" tab-generator-id="s{{currentTab.tab.idTab}}" hide-header
                                             table-generator-title="{{currentTab.tab.name}}" table-filter="{{currentTab.tab.idTable}}"
                                             table-generator-icon="fa-edit" table-reference-item="{{itemToEdit}}" window-generator-id="{{windowGeneratorId}}">
                                            <autogen-table-generator tab-generator-id="{{currentTab.tab.idTab}}"
                                                                     table-generator-title="{{currentTab.tab.name}}"
                                                                     table-generator-icon="fa-list-alt"
                                                                     window-generator-id="{{windowGeneratorId}}">
                                            </autogen-table-generator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>