<div id="content">

    <!-- widget grid -->

    <section id="widget-form" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

                <div jarvis-widget class="dataTables_wrapper form-inline jarviswidget" data-widget-color="darken"
                     data-widget-editbutton="true" data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false">

                    <header class="form-header">
                        <span class="widget-icon"> <i class="fa {{tableGeneratorIcon}}"></i> </span>

                        <h2>{{windowTitle}}</h2>

                        <div class="pull-right header-filter" style="padding-right: 5px">
                            <span>
                                <a ng-if="!isMultiple && isMainSelected" class="btn btn-link wait-response"
                                   title="{{$root.getMessage('AD_msgCaptionBarNavFirst')}}"
                                   autogen-navigator event-name="'NAVIGATION_FIRST'" tab-id="windowTabInfo.idTab">
                                    <i class="fa fa-step-backward" aria-hidden="true"></i>
                                </a>
                                <a ng-if="!isMultiple && isMainSelected" class="btn btn-link wait-response"
                                   title="{{$root.getMessage('AD_msgCaptionBarNavPrevious')}}"
                                   autogen-navigator event-name="'NAVIGATION_PREV'" tab-id="windowTabInfo.idTab">
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                </a>
                                <a ng-if="isMainSelected && !windowTabInfo.runtime.readonly" class="btn btn-link wait-response"
                                   title="{{$root.getMessage('AD_msgCaptionBarSave')}}"
                                   autogen-navigator event-name="'NAVIGATION_APPLY'" tab-id="windowTabInfo.idTab">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </a>
                                <a ng-if="isMainSelected" class="btn btn-link wait-response"
                                   title="{{$root.getMessage('AD_msgCaptionBarCancel')}}"
                                   autogen-navigator event-name="'NAVIGATION_CANCEL'" tab-id="windowTabInfo.idTab">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                                <a ng-if="!isMultiple && isMainSelected" class="btn btn-link wait-response"
                                   title="{{$root.getMessage('AD_msgCaptionBarNavNext')}}"
                                   autogen-navigator event-name="'NAVIGATION_NEXT'" tab-id="windowTabInfo.idTab">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </a>
                                <a ng-if="!isMultiple && isMainSelected" class="btn btn-link wait-response"
                                   title="{{$root.getMessage('AD_msgCaptionBarNavLast')}}"
                                   autogen-navigator event-name="'NAVIGATION_LAST'" tab-id="windowTabInfo.idTab">
                                    <i class="fa fa-step-forward" aria-hidden="true"></i>
                                </a>
                                <a ng-if="!isMultiple && isMainSelected && !windowTabInfo.runtime.readonly" class="btn btn-link wait-response"
                                   title="{{$root.getMessage('AD_msgCaptionBarNew')}}"
                                   autogen-navigator event-name="'NAVIGATION_NEW'" tab-id="windowTabInfo.idTab">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </a>
                                <span class="dropdown" ng-if="!isMultiple && isMainSelected && !windowTabInfo.runtime.readonly && itemToEdit" >
                                    <a class="btn btn-link wait-response" ng-attr-data-toggle="{{!table.audit ? 'dropdown' : null }}"
                                       title="{{$root.getMessage('AD_msgCaptionBarAudit')}}"
                                       tab-id="windowTabInfo.idTab" ng-click="showAudit()">
                                        <i class="fa fa-question" aria-hidden="true"></i>
                                    </a>
                                    <ul ng-if="!table.audit" class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <autogen-audit-content item="itemToEdit" id-tab="tabGeneratorId"></autogen-audit-content>
                                        </li>
                                    </ul>
                                </span>
                                <a class="btn btn-link wait-response" title="{{$root.getMessage('AD_msgCaptionBarShowList')}}"
                                   autogen-navigator event-name="'NAVIGATION_RETURN_TO_LIST'"
                                   tab-id="windowTabInfo.idTab">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                </a>
                            </span>
                        </div>
                    </header>

                    <!-- form -->
                    <div role="content">
                        <!-- widget content -->
                        <div class="widget-body">
                            <ul id="myTab{{windowTabInfo.idTab}}" class="nav nav-tabs bordered">
                                <li class="active">
                                    <a href="#s{{windowTabInfo.tablevel}}{{windowTabInfo.idTab}}"
                                       id="{{windowTabInfo.idTab}}"
                                       ng-click="selectTab(windowTabInfo)" data-toggle="tab">
                                        <i class="fa fa-fw fa-lg fa-list-alt"></i> {{getMessage('AD_labelTabGeneral')}}
                                    </a>
                                </li>
                                <li ng-if="itemToEdit && validItem" ng-repeat="otherTab in otherTabs">
                                    <a href="#s{{windowTabInfo.tablevel}}{{otherTab.idTab}}" id="{{otherTab.idTab}}"
                                       ng-click="selectTab(otherTab)" data-toggle="tab">
                                        <i class="fa fa-fw fa-lg fa-list-ul"></i> {{otherTab.tab.name}}
                                    </a>
                                </li>
                            </ul>

                            <div id="myTabContent{{windowTabInfo.tablevel}}{{windowTabInfo.idTab}}"
                                 class="tab-content padding-10">
                                <div class="tab-pane fade in active"
                                     id="s{{windowTabInfo.tablevel}}{{windowTabInfo.idTab}}">
                                    <span ng-if="tabGeneratorId && otherTabInfoLoaded">
                                        <autogen-form-editing ng-if="!isMultiple"
                                                              tab-generator-id="{{tabGeneratorId}}"
                                                              parent-id-tab="{{parentIdTab}}" row-id="{{rowId}}"
                                                              sub-item="{{subItem}}" link-data="{{linkData}}"
                                                              initial-data="{{initialData}}"
                                                              other-tabs="{{otherTabs.length}}">
                                        </autogen-form-editing>
                                        <autogen-form-multiple-editing ng-if="isMultiple"
                                                                       tab-generator-id="tabGeneratorId"
                                                                       parent-id-tab="parentIdTab"
                                                                       table-reference-item="itemToEdit"
                                                                       window-tab-info="windowTabInfo"
                                                                       sub-item="subItem"
                                                                       link-data="linkData">
                                        </autogen-form-multiple-editing>
                                    </span>
                                </div>
                                <autogen-item-editing ng-if="itemToEdit && validItem" class="tab-pane fade"
                                                      ng-repeat="otherTab in otherTabs"
                                                      id="s{{windowTabInfo.tablevel}}{{otherTab.idTab}}"
                                                      tab-generator-id="{{otherTab.idTab}}" hide-header
                                                      table-generator-title="{{otherTab.tab.name}}"
                                                      table-filter="{{otherTab.tab.idTable}}"
                                                      table-generator-icon="fa-edit"
                                                      table-reference-item="{{itemToEdit}}"
                                                      window-generator-id="{{windowGeneratorId}}">
                                </autogen-item-editing>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>