<section id="widget-form" class="">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
            <!-- form -->
            <div role="content">
                {{item.ctype}}
                <!-- widget content -->
                <div class="widget-body padding-10">
                    <form id="characteristicSingleForm" name="characteristicSingleForm" class="smart-form">
                        <div class="row">
                            <section class="col col-xs-12 col-sm-12 col-md-12 col-ld-12">
                                <label for="name" class="label">
                                    {{characteristic.characteristic.description}}
                                </label>
                                <span ng-if="characteristic.ctype=='SIZE_2D'" data-ng-switch
                                      on="characteristic.reference.rtype">
                                    <label data-ng-switch-when="INTEGER" class="input">
                                        <input step="1" min="0" type="number" name="name" id="name"
                                               ng-model="item.value" class="form-control"/>
                                    </label>
                                    <label data-ng-switch-when="TEXT" class="input" style="width:100%">
                                        <textarea class="custom-scroll" rows="4" style="width:100%" name="name"
                                                  id="name"
                                                  ng-model="item.value" class="form-control">
                                        </textarea>
                                        <button ng-if="characteristic.characteristic.translatable && item.idCharacteristicValue"
                                                ng-click="showTranslation(characteristic)" type="button"
                                                class="btn btn-primary autogen-btn">
                                            <i class='fa  fa-language'></i>
                                        </button>
                                    </label>
                                    <label data-ng-switch-when="HTML" class="input" style="width:100%">
                                        <textarea class="custom-scroll" cols="32" rows="4"
                                                  data-smart-ck-editor delayed
                                                  style="width:100%" name="name" id="name"
                                                  ng-model="item.value" class="form-control">
                                        </textarea>
                                        <button ng-if="characteristic.characteristic.translatable && item.idCharacteristicValue"
                                                ng-click="showTranslation(characteristic)" type="button"
                                                class="btn btn-primary autogen-btn">
                                            <i class='fa  fa-language'></i>
                                        </button>
                                    </label>
                                    <label data-ng-switch-when="IMAGE" class="input">
                                        <span class="button">
                                            <input type="file" name="name" id="name" file-uploader
                                                   ng-model="item.value" class="form-control"/>
                                            <i class="fa fa-upload"></i>
                                        </span>
                                        <input type="text" placeholder="..." readonly="" value="{{item.value}}">
                                    </label>
                                    <label data-ng-switch-when="FILE" class="input">
                                        <span class="button">
                                            <input type="file" name="name" id="name" file-uploader
                                                   ng-model="item.value" class="form-control"/>
                                            <i class="fa fa-upload"></i>
                                        </span>
                                        <input type="text" placeholder="..." readonly="" value="{{item.value}}">
                                    </label>
                                    <label data-ng-switch-when="STRING" class="input">
                                        <i ng-if="characteristic.characteristic.translatable && item.idCharacteristicValue"
                                           class="icon-prepend fa fa-language"
                                           ng-click="showTranslation(characteristic)"></i>
                                        <input type="text" name="name" id="name"
                                               ng-model="item.value" class="form-control"/>
                                    </label>
                                    <label data-ng-switch-when="DATE" class="input">
                                        <i ng-if="characteristic.characteristic.translatable && item.idCharacteristicValue"
                                           class="icon-prepend fa fa-language"
                                           ng-click="showTranslation(characteristic)"></i>
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input class="form-control" type="text" name="name"
                                               ng-model="item.value"
                                               data-date-format="dd/mm/yy" data-moment-date-format="DD/MM/YYYY"data-smart-datepicker placeholder=""/>
                                    </label>
                                    <label data-ng-switch-when="TIMESTAMP" class="input">
                                        <i ng-if="characteristic.characteristic.translatable && item.idCharacteristicValue"
                                           class="icon-prepend fa fa-language"
                                           ng-click="showTranslation(characteristic)"></i>
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"
                                           class="icon-append fa fa-calendar"></i>
                                        <input class="form-control" type="text" name="name"
                                               ng-model="item.value"
                                               data-date-format="dd/mm/yy hh:mm:ss" data-moment-date-format="DD/MM/YYYY hh:mm:ss" data-smart-datepicker
                                               placeholder=""/>
                                    </label>
                                    <label data-ng-switch-when="YESNO" class="input">
                                        <input type="checkbox" name="name" id="name"
                                               ng-model="item.value" class="form-control"/>
                                    </label>
                                    <label data-ng-switch-when="NUMBER" class="input">
                                        <input type="number" step="0.1" name="name" id="name"
                                               ng-model="item.value" class="form-control"/>
                                    </label>
                                    <label data-ng-switch-when="EMAIL" class="input">
                                        <input type="email" name="name" id="name"
                                               ng-model="item.value" class="form-control"/>
                                    </label>
                                    <label data-ng-switch-when="PASSWORD" class="input">
                                        <input type="password" name="name" id="name"
                                               ng-model="item.value" class="form-control"/>
                                    </label>
                                    <label data-ng-switch-when="LIST" class="input">
                                        <div input-table-dir-selector ng-model="item.value" name="name"
                                             field-attr="{{getFieldAttr(item)}}"
                                             id-column-data-attr="idColumnData"
                                             field-value-data-attr="fieldValueData"
                                             field-display-data-attr="fieldDisplayData"
                                             selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"></div>
                                    </label>
                                    <label data-ng-switch-when="TABLE" class="input">
                                        <div class="input input-file">
                                        <span class="button"><input type="text" id="name"
                                                                    name="name"
                                                                    input-table-selector
                                                                    field-attr="{{getFieldAttr(field)}}"
                                                                    item-attr="{{item}}"
                                                                    sqlwhere-attr=""
                                                                    id-column-data-attr="idColumnData"
                                                                    field-value-data-attr="fieldValueData"
                                                                    field-display-data-attr="fieldDisplayData"
                                                                    selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"
                                                                    ng-required
                                                                    ng-model="item.value"><i
                                                class="fa fa-search"></i></span>
                                            <input type="text" placeholder="" readonly="" value="{{item.value}}">
                                        </div>
                                    </label>
                                        <label data-ng-switch-when="TABLEDIR" class="input">
                                            <div input-table-dir-selector ng-model="item.value" name="name"
                                                 field-attr="{{getListFieldAttr(item)}}"
                                                 sqlwhere-attr=""
                                                 id-column-data-attr="idColumnData"
                                                 field-value-data-attr="fieldValueData"
                                                 field-display-data-attr="fieldDisplayData"
                                                 selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"></div>
                                        </label>
                                    <label data-ng-switch-default class="input">
                                        <input type="text" name="name" id="name"
                                               ng-model="item.value" class="form-control"/>
                                    </label>
                                </span>
                                <label ng-if="characteristic.ctype!='SIZE_2D'">
                                    <input type="text" name="name" id="name"
                                           ng-model="item.value" class="form-control"/>
                                </label>
                            </section>
                        </div>
                        <footer>
                            <button type="submit" ng-click="saveCharacteristic()"
                                    class="btn btn-primary pull-right" style="margin-right: 20px">
                                {{getMessage('AD_btnOK')}}
                            </button>
                            &nbsp;
                            &nbsp;
                        </footer>
                    </form>
                </div>
            </div>
        </article>
    </div>
</section>
<div ng-if="translationDialogId" ng-include="translationDialogTemplate"></div>