<div class="modal fade" id="{{searchInputDialogId}}" tabindex="-1" role="dialog"
     aria-labelledby="remoteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h4 class="modal-title" id="myModalLabel">
                    {{getMessage('AD_captionSelect')}}
                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row table-header">
                        <div ng-repeat="column in searchColumns" class="col-md-4 col-sm-12">
                            <div ng-switch on="column.columnInfo.reference.rtype">
                                <label>{{getColumnCaption(visualField.table.name,column.name)}}</label>
                                <label ng-switch-default  class="input">
                                     <input style="width:100%" type="text" name="{{column.name}}" id="searchFilter{{column.name}}" class="form-control" ng-model="referenceData.currentFilterValue[column.standardName]" ng-change="updateFilters()"/>
                                </label>
                                <label ng-switch-when="TABLEDIR" class="input">
                                    <div input-table-dir-selector ng-model="referenceData.currentFilterValue[column.standardName]"
                                         name="searchFilter{{column.name}}"
                                         field-attr="{{getListFieldAttr(column)}}"
                                         item-attr="fieldValue"
                                         tab-id-attr="{{scope.tab}}"
                                         id-column-data-attr="idColumnData"
                                         field-value-data-attr="fieldValueData"
                                         field-display-data-attr="fieldDisplayData"
                                         sqlwhere-attr="{{field.runtime.sqlwhere}}"
                                         selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"></div>
                                </label>
                                <label ng-switch-when="YESNO" class="input">
                                       <div>
                                           <select class="form-control" ng-change="updateFilters()"
                                                   style="width: 100%; min-width: 170px;"
                                                   ng-model="referenceData.currentFilterValue[column.standardName]"
                                                   name="searchFilter{{column.name}}"
                                                   ng-options="current.value as current.name for current in yesNoValues">
                                           </select>
                                       </div>
                                </label>
                                <label ng-switch-when="INTEGER" class="input">

                                    <input step="1"  type="number"
                                           style="width: 100%; min-width: 170px;"
                                           class="form-control" ng-change="updateFilters()"
                                           ng-model="referenceData.currentFilterValue[column.standardName]"
                                           name="searchFilter{{column.name}}"/>
                                </label>
                                <label ng-switch-when="LIST" class="input">
                                    <div input-list-selector ng-model="referenceData.currentFilterValue[column.standardName]"
                                         name="searchFilter{{column.name}}"
                                         field-attr="{{getListFieldAttr(column)}}"
                                         tab-id-attr="{{scope.tab}}"
                                         id-column-data-attr="idColumnData"
                                         field-value-data-attr="fieldValueData"
                                         field-display-data-attr="fieldDisplayData"
                                         selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"></div>
                                </label>
                            </div>
                         </div>
                        <div class="col-md-2 col-xs-12 pull-right">
                            <label class="input pull-right">
                                <label>&nbsp;</label>
                                <select style="display: block" aria-controls="DataTables_Table_1"
                                        class="form-control" ng-model="referenceData.referencePageSize"
                                        ng-options="item for item in tablePageSizeList">
                                </select>
                            </label>
                        </div>
                </div>
                <table custom-datatable-basic ng-model="visualField.objectValues" class="table table-striped table-bordered table-hover" width="100%">
                    <thead>
                    <tr>
                        <th ng-attr-data-class="{{$index == 0 ? 'expand' : undefined}}" ng-attr-data-hide="{{($index>=3? 'always':undefined)}}"  ng-repeat="column in searchColumns" ng-attr-data-class="{{$index == 0 ? 'expand' : undefined}}" ng-attr-data-hide="{{$index>3?'phone, tablet':($index>1?'phone':undefined)}}" ><a ng-click="orderByFieldFnFilter({name: column.name}, visualField,currentFilterValue, referenceData.referencePageSize)">{{getColumnCaption(visualField.table.name, column.name)}}</a></th>
                        <th>{{getMessage('AD_labelColumnActions')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in visualField.objectValues">
                        <td  ng-repeat="column in searchColumns">{{item[column.standardName]}}</td>
                        <td>
                            <button class="btn btn-xs btn-default" ng-click="selectTableValue(item)">
                                <i class='fa fa-pencil-square-o'></i>
                            </button>
                            <span on-finish-render></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="dt-toolbar-footer">
                    <div class="dataTables_info col-sm-6 col-xs-12 hidden-xs" id="DataTables_Table_1_info"
                         role="status" aria-live="polite">
                        {{getMessage('AD_GlobalMsgPaging',[(referenceData.referenceCurrentPage-1)*referenceData.referencePageSize +
                        1,(referenceData.referenceCurrentPage-1)*referenceData.referencePageSize +
                        visualField.objectValues.length, referenceTotalElements])}}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <pagination ng-hide="numPages==1" total-items="referenceTotalElements"
                                    items-per-page="referenceData.referencePageSize" ng-model="referenceData.referenceCurrentPage"
                                    max-size="maxSize" num-pages="numPages" class="pagination-sm"
                                    boundary-links="true" rotate="false"
                                    previous-text="{{getMessage('AD_GlobalMsgPagePrevious')}}"
                                    next-text="{{getMessage('AD_GlobalMsgPageNext')}}"
                                    first-text="{{getMessage('AD_GlobalMsgPageFirst')}}"
                                    last-text="{{getMessage('AD_GlobalMsgPageLast')}}">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>