<div jarvis-widget data-widget-color="darken" style="margin: 0px"
     data-widget-editbutton="false" data-widget-deletebutton="false"
     data-widget-fullscreenbutton="false">
    <header>
        <span class="widget-icon"></span>
        <h2>{{::$root.getMessage('AD_captionApprovedModifications')}}</h2>
    </header>
    <div class="widget-body">
        <div ng-if="message" ng-bind-html="message"></div>
        <hr/>
        <form id="authorizationForm" autocomplete="off" name="authorizationForm" novalidate class="smart-form">
            <section>
                <label class="label">{{::$root.getMessage('AD_GlobalUser')}}</label>
                <label class="input">
                    <select class="form-control" ng-required="true" style="width: 100%"
                            ng-model="authorisationData.user" name="authorizationUser"
                            ng-options="current.username as current.name for current in authorizationUsers">
                    </select>
                </label>
                <span class="error-message" ng-show="authorizationForm.$dirty">
                    <span class="error-message" ng-show="!authorisationData.user">
                        {{::$root.getMessage('AD_errFieldMandatory')}}
                    </span>
                </span>
            </section>

            <section>
                <label class="label">{{::$root.getMessage('AD_GlobalPassword')}}</label>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                    <input type="password" name="authorisationPassword" ng-model="authorisationData.password"
                           ng-required="true" ng-minlength="3" ng-maxlength="20" autocomplete="off" value="">
                </label>
                <span class="error-message" ng-show="authorizationForm.$dirty">
                    <span class="error-message" ng-show="!authorisationData.password">
                        {{::$root.getMessage('AD_errFieldMandatory')}}
                    </span>
                </span>
            </section>

            <footer style="padding: 5px">
                <button type="button" name="cancel" ng-click="doCancel()" class="btn btn-danger">
                    {{::$root.getMessage('AD_btnCancel')}}
                </button>
                <button type="submit" ng-click="doApproval(authorizationForm, authorisationData.user, authorisationData.password)"
                        class="btn btn-primary pull-right" style="margin-right: 20px">
                    {{::$root.getMessage('AD_btnApprove')}}
                </button>
                &nbsp;
                &nbsp;
            </footer>
        </form>

    </div>
</div>