<div class="modal fade" id="{{processDialogId}}" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <section id="widget-form-dialog" class="">
                    <div class="row">
                        <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                            <process-notification ng-if="dialogProcess" item-attr="{{item}}" process-attr="{{dialogProcess}}" parent-item="parentItem" cancel-fn-attr="hideProcessDialog()"></process-notification>
                        </article>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>