<div>
    <table ng-if="!sortMode && !showCardMode" custom-datatable-basic ng-model="tableElements"
           id="{{tabGeneratorId}}" class="table table-striped table-bordered table-hover" width="100%">
        <thead>
            <tr>
                <th class="text-center" style="background-image: none; width: 2em">
                   <input type="checkbox" ng-model="checkAll" ng-click="verifySelection(checkAll)" />
                </th>
                <th ng-attr-data-class="{{$index == 0 ? 'expand' : undefined}}" responsive-table-header
                    ng-attr-data-hide="{{getHiddenClass($index)}}" style="background-image: none"
                    ng-repeat="item in gridColumns" id="{{item.name}}">
                    <span ng-if="tableOrderByField==item.standardName" class="fa {{tableReverseSort?'fa-caret-down':'fa-caret-up'}}"></span>
                    <a ng-click="orderByFieldFn(item)" ng-show="item.sortable">{{$root.getColumnCaption(item.tableName, item.name)}}</a>
                    <div ng-show="!item.sortable">{{$root.getColumnCaption(item.tableName, item.name)}}</div>
                </th>
                <th ng-if="tableActions.length > 0">
                    {{::$root.getMessage('AD_labelColumnActions')}}
                </th>
            </tr>
        </thead>
        <tbody>
        <tr class="smart-datatable-child-format" ng-repeat="item in tableElements"  ng-dblclick="triggerDoubleClick(item)">
            <td class="text-center">
                <input type="checkbox" ng-model="item.isCheckedGrid" ng-change="updateCheckAll()"/>
            </td>
            <td ng-repeat="col in gridColumns" ng-click="checkItem(item)" >
                    <span class="{{col.cssClass ? col.cssClass : ''}}" ng-switch on="col.rtype">
                        <label class="pull-right" ng-switch-when="NUMBER">{{item[col.standardName] | number : stdPref.fractionSize}}</label>
                        <label class="pull-right" ng-switch-when="INTEGER">{{item[col.standardName] | number}}</label>
                        <label ng-switch-when="DATE">{{item[col.standardName] | date : stdPref.dateFormat }}</label>
                        <label ng-switch-when="TIMESTAMP">{{item[col.standardName] | date : stdPref.dateTimeFormat }}</label>
                        <label ng-switch-when="TIME">{{item[col.standardName] | date : stdPref.timeFormat }}</label>
                        <label ng-switch-when="FILEURL"><a href="{{item[col.standardName]}}"><i class="fa fa-download" aria-hidden="true"></i></a></label>
                        <img ng-switch-when="IMAGE" ng-src="{{item[col.standardName+'_imgSrc']}}" width="150"/>
                        <img ng-switch-when="IMAGEVIEW" ng-show="'{{item[col.standardName]}}' != ''" ng-src="{{item[col.standardName]}}" width="150"/>
                        <div ng-switch-when="HTML" ng-bind-html="item[col.standardName]"/>
                        <label ng-switch-default>{{item[col.standardName]}}</label>
                    </span>
                    <span  ng-if="tableActions.length == 0" on-finish-render></span>
            </td>
            <td ng-click="checkItem(item)" ng-if="tableActions.length > 0" >
                <button ng-repeat="action in item.$$actions" class="btn btn-xs btn-default"
                        ng-click="throwActionClick(action, item)" title="{{getActionHint(action, item)}}">
                    <i class='fa {{action.icon}}'></i>
                </button>
                <span on-finish-render></span>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-include="processDialogTemplate"></div>
    <div hidden id="custom-action-container"></div>
</div>
