<div id="content">
    <!-- widget grid -->

    <section id="widget-form" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                <h5>{{getMessage('AD_processPlanningTitle')}}</h5>
                <!-- form -->
                <div role="content">
                    <!-- widget content -->
                    <div class="widget-body">
                        <form id="processPlanningForm" name="processPlanningForm" class="smart-form" novalidate>
                            {{header}}
                            <hr class="simple">
                            <div class="col-12" data-ng-switch data-on="item.execType">
                                <div class="row">
                                    <section class="col col-xs-12 col-sm-12 col-md-4 col-ld-4">
                                        <label class="label">
                                            {{::getMessage('AD_processPlanningClient')}}
                                        </label>
                                        <label class="input" >
                                            <select class="form-control"
                                                    style="width:100%; margin-top: -2px"
                                                    ng-model="item.executingClient"
                                                    name="executingClient"
                                                    ng-options="current.idClient as current.name for current in clients">
                                            </select>
                                        </label>
                                        <span class="error-message" ng-show="processPlanningForm.$dirty && !item.executingClient">
                                            {{getMessage('AD_errFieldMandatory')}}
                                        </span>
                                    </section>
                                    <section class="col col-xs-12 col-sm-12 col-md-4 col-ld-4">
                                        <label class="label">
                                            {{::getMessage('AD_processPlanningUser')}}
                                        </label>
                                        <label class="input">
                                            <select class="form-control"
                                                    style="width:100%; margin-top: -2px"
                                                    ng-model="item.executingUser"
                                                    name="executingUser"
                                                    ng-options="current.id as current.name for current in users">
                                            </select>
                                        </label>
                                        <span class="error-message" ng-show="processPlanningForm.$dirty && !item.executingUser">
                                            {{getMessage('AD_errFieldMandatory')}}
                                        </span>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-xs-12 col-sm-12 col-md-4 col-ld-4">
                                        <label class="label">
                                            {{getMessage('AD_processPlanningExecType')}}
                                        </label>
                                        <label class="input" ng-if="executionTypeData">
                                            <div input-list-selector ng-model="item.execType"
                                                 field-attr="{{executionTypeData}}"
                                                 tab-id-attr="{{scope.tab}}"
                                                 id-column-data-attr="idColumnData"
                                                 field-value-data-attr="fieldValueData"
                                                 field-display-data-attr="fieldDisplayData"
                                                 selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"
                                                 required="true">
                                            </div>
                                        </label>
                                        <span class="error-message" ng-show="processPlanningForm.$dirty && !item.execType">
                                            {{getMessage('AD_errFieldMandatory')}}
                                        </span>
                                    </section>
                                </div>
                                <div class="row">
                                    <section ng-if="item.execType!='FREQUENTLY'" class="col col-xs-12 col-sm-12 col-md-4 col-ld-4">
                                        <label class="label">
                                            {{getMessage('AD_processPlanningHour')}}
                                        </label>
                                        <label class="input">
                                            <i class="icon-append fa fa-clock-o"></i>
                                            <input class="form-control" type="text" name="hour" ng-required
                                                   ng-model="item.hour"
                                                   data-autoclose="true" data-smart-clockpicker
                                                   placeholder="{{getMessage('AD_processSelectTime')}}"/>
                                        </label>
                                        <span class="error-message" ng-if="field.column.reference.rtype!='BUTTON'"
                                              ng-show="processPlanningForm.$dirty && processPlanningForm.execType.$error.required">
                                            {{getMessage('AD_errFieldMandatory')}}
                                        </span>
                                    </section>
                                    <section class="col col-xs-12 col-sm-12 col-md-4 col-ld-4"
                                             data-ng-switch-when="ONE_EXEC">
                                        <label class="label">
                                            {{getMessage('AD_processPlanningExecDay')}}
                                        </label>
                                        <label class="input">
                                            <div>
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input class="form-control" type="text" name="date"
                                                       data-ng-required="{{executionTypeData=='ONE_EXEC'}}"
                                                       data-ng-model="item.execOneExecDay"
                                                       data-date-format="dd/mm/yy" data-moment-date-format="DD/MM/YYYY"data-smart-datepicker
                                                       placeholder=""/>
                                            </div>
                                        </label>
                                    </section>
                                    <section class="col col-xs-12 col-sm-12 col-md-4 col-ld-4"
                                             data-ng-switch-when="WEEKLY">
                                        <label class="label">
                                            {{getMessage('AD_processPlanningExecDay')}}
                                        </label>
                                        <label class="input" ng-if="executionWeekdayData">
                                            <div input-list-selector data-ng-model="item.execWeekday"
                                                 field-attr="{{executionWeekdayData}}"
                                                 tab-id-attr="{{scope.tab}}"
                                                 id-column-data-attr="idColumnData"
                                                 field-value-data-attr="fieldValueData"
                                                 field-display-data-attr="fieldDisplayData"
                                                 selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)">
                                            </div>
                                        </label>
                                        <span class="error-message" ng-show="processPlanningForm.$dirty && executionWeekdayData && !item.execWeekday">
                                            {{getMessage('AD_errFieldMandatory')}}
                                        </span>
                                    </section>
                                    <section class="col col-xs-12 col-sm-12 col-md-4 col-ld-4"
                                             data-ng-switch-when="MONTHLY">
                                        <label class="label">
                                            {{getMessage('AD_processPlanningExecDay')}}
                                        </label>
                                        <label class="input">
                                            <select style="width:100%" class="form-control" ng-model="item.monthDay" ng-required
                                                    ng-options="n for n in [] | range:1:31">
                                            </select>
                                        </label>
                                        <span class="error-message" ng-show="processPlanningForm.$dirty && !item.monthDay">
                                            {{getMessage('AD_errFieldMandatory')}}
                                        </span>
                                    </section>
                                    <section class="col col-xs-12 col-sm-12 col-md-4 col-ld-4"
                                             data-ng-switch-when="FREQUENTLY">
                                        <label class="label">
                                            {{getMessage('AD_processPlanningExecFrequentlyMinute')}}
                                        </label>
                                        <label class="input">
                                            <select style="width:100%" class="form-control" ng-model="item.frequencyMinute" ng-required
                                                    ng-options="n for n in [] | range:0:59">
                                            </select>
                                        </label>
                                         <span class="error-message" ng-show="processPlanningForm.$dirty && (item.frequencyMinute===undefined || item.frequencyMinute===null)">
                                            {{getMessage('AD_errFieldMandatory')}}
                                        </span>
                                        <span class="error-message" ng-show="processPlanningForm.$dirty && !((item.frequencyMinute * item.frequencyHour)===0 && (item.frequencyMinute + item.frequencyHour)!==0)">
                                           {{getMessage('AD_errFieldOnlyOneZero')}}
                                        </span>
                                    </section>
                                    <section class="col col-xs-12 col-sm-12 col-md-4 col-ld-4"
                                             data-ng-switch-when="FREQUENTLY">
                                        <label class="label">
                                            {{getMessage('AD_processPlanningExecFrequentlyHour')}}
                                        </label>
                                        <label class="input">
                                            <select style="width:100%" class="form-control" ng-model="item.frequencyHour" ng-required
                                                    ng-options="n for n in [] | range:0:23">
                                            </select>
                                        </label>
                                        <span class="error-message" ng-show="processPlanningForm.$dirty && (item.frequencyHour===undefined || item.frequencyHour===null)">
                                            {{getMessage('AD_errFieldMandatory')}}
                                        </span>
                                        <span class="error-message" ng-show="processPlanningForm.$dirty && !((item.frequencyMinute * item.frequencyHour)===0 && (item.frequencyMinute + item.frequencyHour)!==0)">
                                            {{getMessage('AD_errFieldOnlyOneZero')}}
                                        </span>
                                    </section>
                                </div>
                                <div class="row" data-ng-switch-when="DAILY">
                                    <span ng-repeat="current in days">
                                       <section class="col col-xs-12 col-sm-3 col-md-1 col-ld-1">
                                           <label class="label">
                                               {{current.name}}
                                           </label>
                                           <input type="checkbox" name="dailyDay" value="{{current.value}}"
                                                  ng-model="item.day[current.value]" ng-change="updateCronDef()"/>
                                       </section>
                                    </span>
                                </div>
                                <div class="row" ng-if="cronDef">
                                    <hr/>
                                    <section class="col col-xs-12 col-sm-12 col-md-12 col-ld-12">
                                        <div class="alert alert-info">
                                            <label class="label">
                                                {{getMessage('AD_processPlanningCurrentCronDef')}}: <strong>{{cronDef}}</strong>
                                            </label>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <footer>
                                <button type="submit" ng-click="save()" class="btn btn-primary">
                                    {{getMessage('AD_btnSave')}}
                                </button>
                                <button type="submit" ng-click="clear()" class="btn btn-danger">
                                    {{getMessage('AD_btnClearSchedule')}}
                                </button>
                            </footer>
                        </form>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

