<div id="content padding-10">
    <div>
        <div class="row grid padding-20 {{gridClass}}">
            <div ng-repeat="item in itemsCopy" id="{{item.id}}" class="col-md-{{colSpan}} title grid-element" ng-model="item">
                <div class="{{cardMode?'grid-card-mode':'grid-drag-container'}}">
                    <section id="widget-form" class="grid-element">
                        <div class="row">
                            <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid" ng-dblclick="triggerDoubleClick(item)" >
                                <input type="checkbox" ng-if="cardMode" class="card-mode-check" ng-change="verifyCheck(item)" ng-model="item.isCheckedGrid" ng-change="updateCheckAll()"/>
                                <autogen-sortable-grid-element ng-if="item" tab-generator-id="windowTabInfo.idTab"
                                                               item-data="item"  ng-click="checkItem(item)"
                                                               window-tab-info="windowTabInfo">
                                </autogen-sortable-grid-element>
                            </article>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <section id="widget-form" class="" ng-if="!cardMode">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                <div role="content">
                    <!-- widget content -->
                    <div class="widget-body">
                        <form id="tableForm" name="tableForm" class="smart-form" novalidate>
                            <footer>
                                <button type="button" name="cancel" ng-click="throwCancelSort()" class="btn btn-danger">
                                    {{::$root.getMessage('AD_btnCancel')}}
                                </button>
                                <button type="submit" ng-click="throwDoSort()" class="btn btn-primary">
                                    {{::$root.getMessage('AD_btnSave')}}
                                </button>
                            </footer>
                        </form>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>