<div class="well">
    <div class="grid-element-content">
        <div class="row" ng-repeat="row in fieldRows">
            <div ng-repeat="current in row.fields" class="col col-md-{{current.bootstrapCol}} col-xs-12">
                <label>
                    {{(current.caption != '-') ? current.caption + ': ' : ''}}
                    <span ng-switch on="current.rtype">
                        <label class="{{current.cssClass ? current.cssClass : ''}}" ng-switch-when="NUMBER">{{itemData[current.standardName] | number : stdPref.fractionSize}}</label>
                        <label class="{{current.cssClass ? current.cssClass : ''}}" ng-switch-when="INTEGER">{{itemData[current.standardName] | number}}</label>
                        <label class="{{current.cssClass ? current.cssClass : ''}}" ng-switch-when="DATE">{{itemData[current.standardName] | date : stdPref.dateFormat }}</label>
                        <label class="{{current.cssClass ? current.cssClass : ''}}" ng-switch-when="TIMESTAMP">{{itemData[current.standardName] | date : stdPref.dateTimeFormat }}</label>
                        <label class="{{current.cssClass ? current.cssClass : ''}}" ng-switch-when="TIME">{{itemData[current.standardName] | date : stdPref.timeFormat }}</label>
                        <img ng-switch-when="IMAGE" ng-src="{{itemData[current.standardName+'_imgSrc']}}" class="img-responsive"/>
                        <img ng-switch-when="IMAGEVIEW" ng-show="'{{itemData[current.standardName]}}' != ''" ng-src="{{itemData[current.standardName]}}" class="img-responsive"/>
                        <div ng-switch-when="HTML"  ng-bind-html="itemData[current.standardName]"/>
                        <label class="{{current.cssClass ? current.cssClass : ''}}" ng-switch-default>{{itemData[current.standardName]}}</label>
                    </span>
                </label>
            </div>
        </div>

        <div ng-repeat="group in groups">
            <div class="row" ng-repeat="row in group.fieldRows">
                <div ng-repeat="current in row.fields" class="col col-md-{{current.bootstrapCol}} col-xs-12">
                    <span>{{itemData[current.standardName]}}</span>
                </div>
            </div>
        </div>
    </div>
</div>