<div class="modal fade" id="{{characteristicDialogId}}" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--<div class="modal-body">-->
            <div jarvis-widget data-widget-color="darken" style="margin: 0px"
                 data-widget-editbutton="false" data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false">
                <header>
                    <span class="widget-icon"></span>

                    <h2>{{getMessage('AD_characteristicCaptionValues')}}</h2>
                </header>
                <section id="widget-form" class="">
                    <div class="row">
                        <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                            <h5>{{formName}}</h5>
                            <!-- form -->
                            <div role="content">
                                <!-- widget content -->
                                <div class="widget-body padding-10">
                                    <form name="characteristicForm" class="smart-form">
                                        <div class="row">
                                            <section class="col col-xs-12 col-sm-12 col-md-12 col-ld-12">
                                                <label class="label">{{getMessage('AD_characteristicName')}}</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-language" ng-if="item.id" ng-click="showTranslation(item)"></i>
                                                    <input type="text" name="name" ng-required ng-model="item.name" class="form-control"/>
                                                </label>
                                                <span class="error-message" ng-show="checkError(characteristicForm, item.name)">
                                                    {{getMessage('AD_errFieldMandatory')}}
                                                </span>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-xs-12 col-sm-12 col-md-4 col-ld-4">
                                                <label class="label">{{getMessage('AD_characteristicType')}}</label>

                                                <label class="input">
                                                    <label class="input">
                                                        <div input-list-selector ng-model="item.vtype" field-attr="{{getListFieldAttr(field)}}"
                                                             tab-id-attr="{{scope.tab}}" id-column-data-attr="idColumnData"
                                                             field-value-data-attr="fieldValueData" field-display-data-attr="fieldDisplayData"
                                                             selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)">
                                                        </div>
                                                        <input type="hidden" name="vtype" ng-model="item.vtype" ng-required>
                                                    </label>
                                                </label>
                                                <span class="error-message" ng-show="checkError(characteristicForm, item.vtype)">
                                                    {{getMessage('AD_errFieldMandatory')}}
                                                </span>
                                            </section>
                                            <section class="col col-xs-12 col-sm-12 col-md-4 col-ld-4">
                                                <label class="label">{{getMessage('AD_characteristicSeqno')}}</label>
                                                <label class="input">
                                                    <input step="1" min="0" type="number" name="seqno"
                                                           class="form-control" ng-model="item.seqno"/>
                                                </label>
                                            </section>
                                            <section class="col col-xs-12 col-sm-12 col-md-4 col-ld-4">
                                                <label class="label">{{getMessage('AD_characteristicReference')}}</label>
                                                <label class="input">
                                                    <input type="text" name="name" ng-required
                                                           ng-model="item.reference" class="form-control"/>
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-xs-12 col-sm-12 col-md-4 col-ld-4">
                                                <label class="label">{{getMessage('AD_characteristicDefault')}}</label>
                                                <label class="checkbox">
                                                    <div>
                                                        <input type="checkbox" name="isDefault" ng-model="item.isDefault"/>
                                                        <i></i>
                                                    </div>
                                                </label>
                                            </section>
                                            <section class="col col-xs-12 col-sm-12 col-md-4 col-ld-4" ng-if="item.id && item.vtype == 'IMAGE'">
                                                <label class="input">
                                                    <label for="image">{{getMessage('AD_characteristicImage')}}</label>

                                                    <div class="input input-file">
                                                        <span class="button">
                                                            <input type="file" id="image" name="image" file-uploader
                                                                   ng-model="item.image">
                                                            <i class="fa fa-upload"></i>
                                                        </span>
                                                        <input type="text" placeholder="..." readonly="" value="{{item.image}}">
                                                    </div>
                                                </label>
                                            </section>
                                            <section class="col col-xs-12 col-sm-12 col-md-4 col-ld-4">
                                                <label class="label">{{getMessage('AD_ReportMsgActive')}}</label>
                                                <label class="checkbox">
                                                    <div>
                                                        <input type="checkbox" name="active" ng-model="item.active"/>
                                                        <i></i>
                                                    </div>
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-xs-12 col-sm-12 col-md-12 col-ld-12" style="visibility: {{item.imgSrc?'visible':'hidden'}};">
                                                <label class="input">
                                                    <label for="image">{{getMessage('AD_characteristicImage')}}</label>
                                                    <div class="input input-file"> <img src="{{item.imgSrc}}" width="150"/></div>
                                                </label>
                                            </section>
                                        </div>
                                        <footer>
                                            <button type="button" name="cancel" ng-click="cancelEditCharacteristic(characteristicForm)"
                                                    class="btn btn-danger pull-right">
                                                {{getMessage('AD_btnCancel')}}
                                            </button>
                                            <button type="submit" ng-click="saveCharacteristic(characteristicForm)"
                                                    class="btn btn-primary pull-right" style="margin-right: 20px">
                                                {{getMessage('AD_btnOK')}}
                                            </button>
                                            &nbsp;
                                            &nbsp;
                                        </footer>
                                    </form>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>

                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<div ng-if="translationDialogId" ng-include="translationDialogTemplate"></div>