<div class="modal fade" id="{{translationDialogId}}" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--<div class="modal-body">-->
            <div jarvis-widget data-widget-color="darken" style="margin: 0px"
                 data-widget-editbutton="false" data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false">
                <header>
                    <span class="widget-icon"></span>
                    <h2>{{::$root.getMessage('AD_captionTranslation')}}</h2>
                </header>
                <div class="widget-body">
                    <form id="translationForm" name="translationForm" novalidate>
                        <section translate-client-id>
                            <label><i class="fa fa-user"></i> {{::$root.getMessage('AD_translationClients')}}</label>
                            <label class="input" style="width:100%">
                                <select ng-if="translationClients" class="form-control"
                                        ng-required="true"
                                        style="width:100%; margin-top: -2px"
                                        ng-change="loadTranslations(translationProperty.translationClientId)"
                                        ng-init="translationProperty.translationInitClientId"
                                        ng-model="translationProperty.translationClientId"
                                        name="translationClientIdname"
                                        ng-options="current.idClient as current.name for current in translationClients">
                                </select>
                            </label>
                            <hr class="simple"/>
                        </section>
                        <section ng-if="translatableField.column.reference.rtype == 'STRING'" class="">
                            <span ng-repeat="language in languages">
                                <label class="label"><i class="icon-append flag flag-{{language.countrycode}}"></i></label>
                                <label>&nbsp;{{language.name}}</label>
                                <label class="input" style="width:100%">
                                    <input type="text" name="translation_{{language.countrycode}}"
                                           style="width:100%"
                                           ng-model="translation[translatableField.idField][language.countrycode]"
                                           class="form-control"/>
                                </label>
                            </span>
                        </section>
                        <section ng-if="translatableField.column.reference.rtype == 'FILE'" class="">
                            <span ng-repeat="language in languages">
                                <label class="label"><i class="icon-append flag flag-{{language.countrycode}}"></i></label>
                                <label>&nbsp;{{language.name}}</label>
                                <div class="smart-form row">
                                    <label class="input input-file col-xs-10 " style="width:90%">
                                        <span class="button">
                                            <input type="file" placeholder="..." name="file" file-uploader
                                                   ng-model="translation[translatableField.idField][language.countrycode]">
                                            <i class="fa fa-upload"></i>
                                        </span>
                                        <input type="text" placeholder="..." readonly=""
                                               value="{{translation[translatableField.idField][language.countrycode]}}">
                                    </label>
                                    <button ng-if="translation[translatableField.idField][language.countrycode] && translationInfos[language.countrycode]" ng-click="deleteTranslation(translatableField, language.countrycode)" type="button"
                                            class="btn btn-danger autogen-btn ng-scope pull-left col-xs-1" style="margin-top: 0px;">
                                        <i class="fa  fa-trash"></i>
                                    </button>
                                </div>
                            </span>
                        </section>
                        <section ng-if="translatableField.column.reference.rtype == 'IMAGE'" class="">
                            <span ng-repeat="language in languages">
                                <label class="label"><i class="icon-append flag flag-{{language.countrycode}}"></i></label>
                                <label>&nbsp;{{language.name}}</label>
                                <div class="smart-form">
                                    <label class="input input-file " style="width:100%">
                                        <span class="button">
                                            <input type="file" placeholder="..." name="file" file-uploader
                                                   ng-model="translation[translatableField.idField][language.countrycode]">
                                            <i class="fa fa-upload"></i>
                                        </span>
                                        <input type="text" placeholder="..." readonly=""
                                               value="{{translation[translatableField.idField][language.countrycode]}}">
                                    </label>
                                </div>
                            </span>
                        </section>
                        <section ng-if="translatableField.column.reference.rtype == 'TEXT'" class="">
                            <ul id="myTranslationTab" class="nav nav-tabs bordered">
                                <li class="{{$index==0?'active':''}}" ng-repeat="language in languages">
                                    <a href="#l{{language.idLanguage}}" data-toggle="tab">
                                        <i class="fa fa-fw fa-lg flag flag-{{language.countrycode}}"></i> {{language.name}}
                                    </a>
                                </li>
                            </ul>
                            <div id="translationContent" class="tab-content padding-10">
                                <div ng-repeat="language in languages"
                                     class="tab-pane fade in {{$index==0?'active':''}}" id="l{{language.idLanguage}}">
                                       <textarea style="width:100%" name="translation_{{language.countrycode}}"
                                                 ng-model="translation[translatableField.idField][language.countrycode]"
                                                 class="form-control">
                                        </textarea>
                                </div>
                            </div>
                        </section>
                        <section ng-if="translatableField.column.reference.rtype == 'HTML'" class="">
                            <ul id="myTranslationHtmlTab" class="nav nav-tabs bordered">
                                <li class="{{$index==0?'active':''}}" ng-repeat="language in languages">
                                    <a href="#l{{language.idLanguage}}" data-toggle="tab">
                                        <i class="fa fa-fw fa-lg flag flag-{{language.countrycode}}"></i> {{language.name}}
                                    </a>
                                </li>
                            </ul>
                            <div id="translationHtmlContent" class="tab-content padding-10">
                                <div ng-repeat="language in languages" class="tab-pane fade in {{$index==0?'active':''}}" id="l{{language.idLanguage}}">
                                    <textarea style="width:100%" name="translation_{{language.countrycode}}" rows="4"
                                             delayed data-smart-ck-editor
                                             id-attr="item.id"
                                             id-table-attr="windowTabInfo.idTable"
                                             id-language-attr="language.idLanguage"
                                             id="translationHTMLinput{{language.idLanguage}}"
                                             ng-model="translation[translatableField.idField][language.countrycode]"
                                             class="form-control">
                                    </textarea>
                                </div>
                            </div>
                        </section>
                        <footer style="padding: 5px">
                            <button type="button" name="cancel" ng-click="cancelTranslation()" class="btn btn-danger pull-right">
                                {{::$root.getMessage('AD_btnCancel')}}
                            </button>
                            <button type="submit" ng-click="doTranslation(translatableField)" class="btn btn-primary pull-right" style="margin-right: 20px">
                                {{::$root.getMessage('AD_btnOK')}}
                            </button>
                            &nbsp;
                            &nbsp;
                        </footer>
                    </form>

                </div>
            </div>


            <!--</div>-->
        </div>
    </div>
</div>