<div class="modal fade" id="{{authorizationDialogId}}" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <autogen-form-authorization
                    privilege="privilegeToValidate"
                    message="displayMessage"
                    fn-on-approval="doOnApproval(result)">
            </autogen-form-authorization>
        </div>
    </div>
</div>