<div class="modal fade" id="searchModal" tabindex="-1" role="dialog"
     aria-labelledby="remoteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h4 class="modal-title" id="myModalLabel1">
                    {{getMessage('AD_captionSelect')}}
                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table>
                        <tr>
                            <td ng-repeat="f in complicateVisualFields[currentIdReferenceValue].columns">
                                <label>{{getColumnCaption(f.tableName, f.name)}}</label>
                                <input type="text" class="form-control" ng-model="complicateVisualFields[currentIdReferenceValue].filterValues[f.name]"
                                       ng-change="filterSearchData()"/>
                            </td>
                        </tr>
                    </table>
                    <div class="dataTables_length hidden-xs margin-right-5 pull-right">
                        <label>
                            <select aria-controls="DataTables_Table_1"
                                    class="form-control input-sm" ng-model="referencePageSize"
                                    ng-options="item for item in tablePageSizeList" ng-change="changeTablePage(referencePageSize)">
                            </select>
                        </label>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" width="100%">
                    <thead>
                    <tr>
                        <th style="background-image: none" ng-repeat="item in complicateVisualFields[currentIdReferenceValue].columns"
                            id="{{item.name}}"><span ng-if="tableOrderByField==item.name" class="fa {{tableReverseSort?'fa-caret-down':'fa-caret-up'}}"></span>
                            <a ng-click="orderByFieldFn(item)" ng-show="item.sortable">{{getColumnCaption(item.tableName, item.name)}}</a>

                            <div ng-show="!item.sortable">{{getColumnCaption(item.tableName, item.name)}}</div>
                        </th>

                        <th>{{getMessage('AD_labelColumnActions')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="smart-datatable-child-format"
                        ng-repeat="item in complicateVisualFields[currentIdReferenceValue].objectValues">
                        <td ng-repeat="c in complicateVisualFields[currentIdReferenceValue].columns">
                            <label >{{item[c.standarName]}}</label>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-default" ng-click="selectSearchValue(item)">
                                <i class='fa fa-pencil-square-o'></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="dt-toolbar-footer">
                    <div class="dataTables_info col-sm-6 col-xs-12 hidden-xs" id="DataTables_Table_1_info"
                         role="status" aria-live="polite">
                        {{getMessage('AD_GlobalMsgPaging',[(referenceCurrentPage-1)*referencePageSize +
                        1,(referenceCurrentPage-1)*referencePageSize +
                        complicateVisualFields[currentIdReferenceValue].objectValues.length, referenceTotalElements])}}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <pagination ng-hide="numPages==1" total-items="referenceTotalElements" items-per-page="referencePageSize"
                                    ng-model="referenceCurrentPage" max-size="maxSize" num-pages="numPages"
                                    class="pagination-sm" boundary-links="true" rotate="false"
                                    previous-text="{{getMessage('AD_GlobalMsgPagePrevious')}}"
                                    next-text="{{getMessage('AD_GlobalMsgPageNext')}}"
                                    first-text="{{getMessage('AD_GlobalMsgPageFirst')}}"
                                    last-text="{{getMessage('AD_GlobalMsgPageLast')}}">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>