<section id="widget-form" class="">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
            <!-- form -->
            <div role="content">
                <!-- widget content -->
                <div class="widget-body">
                    <form id="tableForm" name="tableForm" class="smart-form" novalidate>
                        <div ng-repeat="roww in fieldRows">
                            <div class="row">
                                <div ng-include="inputsTemplate"></div>
                            </div>
                        </div>
                        <footer ng-if="!adTab.runtime.readonly" >
                            <button type="submit" ng-click="saveCharacteristic()" class="btn btn-primary">
                                {{::getMessage('AD_btnSave')}}
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
        </article>
    </div>
</section>
<div ng-include="editingWindowDialogTemplate"></div>

