<div>
    <label ng-show="field.readonly">
        <div ng-repeat="value in visualField.objectValues">
            <span ng-show="value.id==selectedField">{{value[visualField.display]}} </span>
        </div>
    </label>
    <select class="form-control" ng-show="!field.readonly" ng-disabled="disabled"
            ng-required="{{field.mandatory}}" style="width:100%;"
            ng-model="selectedField" name="{{field.name}}"
            ng-change="selectValue(selectedField)" ng-focus="doEnter(field)"
            ng-options="current[visualField.key] as current[visualField.display] for current in visualField.objectValues">
    </select>
</div>