<div id="floatingContextMenu" style="position: absolute; display: block" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li><a tabindex="-1" ng-repeat="entry in menuEntries" href="#" ng-click="notifyClickMenu(entry.value)">{{entry.text}}</a></li>
    </ul>
</div>