<div jarvis-widget class="dataTables_wrapper form-inline" data-widget-color="darken"
     data-widget-editbutton="true" data-widget-deletebutton="false"
     data-widget-fullscreenbutton="false">
    <header>
        <span class="widget-icon"> </span>
        <h2>{{process.name}}</h2>
    </header>
    <div class="widget-body">
        <form id="processForm" name="processForm" class="smart-form" novalidate>
            <div class="col-12" ng-if="process.description" style="padding-left: 2em">
                <div ng-bind-html="process.description"></div>
            </div>
            <hr class="simple">
            <div class="col-12" ng-if="processOutputParams && processOutputParams.length > 0">
                <div class="alert alert-block alert-info">
                    <p ng-repeat="current in processOutputParams">
                        <strong>{{getProcessParam(current.name)}}: </strong> {{current.value}}
                    </p>
                </div>
            </div>
            <hr/>
            <div class="row" ng-if="process.showinparams">
                <section class="col col-6" ng-repeat="current in processInputParams| orderBy:'seqno'  | filter : {displayed: true}">
                    <label class="label">{{current.caption}}</label>
                    <span ng-if="!current.ranged">
                        <span ng-switch on="current.reference.rtype">

                            <label ng-switch-when="DATE" class="input">
                                        <input class="form-control" type="text"
                                               name="{{current.name}}"
                                               ng-required="current.mandatory"
                                               ng-model="current.value"
                                               ng-change="updateFieldChange(current)"
                                               style="min-width: 190px"
                                               data-date-format="dd/mm/yy" data-moment-date-format="DD/MM/YYYY" delayed
                                               data-smart-datepicker/>
                            </label>
                            <label ng-switch-when="TIMESTAMP" class="input">
                                                <smart-datetimepicker
                                                        name="{{current.name}}"
                                                        ng-model="current.value"
                                                        id="{{current.name}}"
                                                        required="current.mandatory"
                                                        ng-change="updateFieldChange(current)">
                                </smart-datetimepicker>
                            </label>
                            <label ng-switch-when="YESNO" class="checkbox">
                                <select class="form-control" ng-required="{{current.mandatory}}"
                                        style="width:100%; margin-top: -2px"
                                        data-ng-model="current.value" name="{{current.name}}"  ng-change="updateFieldChange(current)"
                                        ng-options="current.value as current.name for current in yesNoValues">
                                </select>
                            </label>
                            <label ng-switch-when="FILE" class="input">
                                 <div class="input input-file col-md-9" ng-show="!field.readonly">
                                    <span class="button">
                                        <input type="file" id="{{current.name}}" name="file" file-uploader
                                               ng-required="{{current.mandatory}}" ng-model="current.value"
                                               ng-change="updateFieldChange(current)">
                                        <i class="fa fa-upload"></i>
                                    </span>
                                        <input type="text" placeholder="..." readonly="" value="{{current.value}}">
                                </div>
                            </label>
                            <label ng-switch-when="STRING" class="input">
                                <input type="text" name="{{current.name}}" ng-required="current.mandatory"
                                       ng-model="current.value" ng-change="updateFieldChange(current)"
                                       class="form-control"/>
                            </label>
                            <label ng-switch-when="EMAIL" class="input">
                                <input type="email" name="{{current.name}}" ng-required="current.mandatory"
                                       ng-model="current.value" ng-change="updateFieldChange(current)"
                                       class="form-control"/>
                            </label>
                            <label ng-switch-when="PASSWORD" class="input">
                                <input type="password" name="{{current.name}}" ng-required="current.mandatory"
                                       ng-model="current.value" ng-change="updateFieldChange(current)"
                                       class="form-control"/>
                            </label>
                            <label ng-switch-when="INTEGER" class="input">
                                <input step="1" ng-attr-min="{{current.valuemin ? current.valuemin : undefined }}"
                                       ng-attr-max="{{current.valuemax ? current.valuemax : undefined }}" ng-required="current.mandatory"
                                       type="number" name="{{curren.name}}" ng-model="current.value"
                                       class="form-control" ng-change="updateFieldChange(current)"/>
                            </label>
                            <label ng-switch-when="NUMBER" class="input">
                                <input type="number" name="{{current.name}}" min="current.valuemin" max="current.valuemax"
                                       ng-required="current.mandatory" ng-model="current.value" class="form-control"/>
                            </label>
                            <label ng-switch-when="TABLE" class="input">
                                <div class="input input-file">
                                    <input type="hidden" class="form-control"
                                           name="{{current.name}}"
                                           id="current.name"
                                           style="width:100%; margin-top: -2px; min-width: 160px"
                                           field-attr="{{getFieldAttr(current)}}"
                                           item-attr="{{fieldValue}}"
                                           sqlwhere-attr="current.runtime.sqlwhere"
                                           id-column-data-attr="idColumnData"
                                           field-value-data-attr="fieldValueData"
                                           field-display-data-attr="fieldDisplayData"
                                           selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"
                                           input-table-selector-remote data-placeholder=""
                                           ng-required="{{current.mandatory}}"
                                           ng-model="current.value"/>
                                </div>
                            </label>
                            <label ng-switch-when="TABLEDIR" class="input">
                                <div input-table-dir-selector ng-model="current.value"
                                     name="{{current.name}}"
                                     related-item="relatedItem"
                                     field-attr="{{getFieldAttr(current)}}"
                                     id-column-data-attr="idColumnData"
                                     field-value-data-attr="fieldValueData"
                                     field-display-data-attr="fieldDisplayData"
                                     sqlwhere-attr="{{current.runtime.sqlwhere}}"
                                     selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"
                                     ng-required="{{current.mandatory}}">
                                </div>
                            </label>
                            <label ng-switch-when="LIST" class="input">
                                <div input-list-selector ng-model="current.value"
                                     name="{{current.name}}"
                                     field-attr="{{getListFieldAttr(current)}}"
                                     id-column-data-attr="idColumnData"
                                     field-value-data-attr="fieldValueData"
                                     field-display-data-attr="fieldDisplayData"
                                     selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"
                                     ng-required="{{current.mandatory}}"></div>
                            </label>
                        </span>
                        <span class="error-message" ng-show="processForm.$dirty && current.mandatory && !current.value">
                            {{getMessage('AD_errFieldMandatory')}}
                        </span>
                    </span>
                    <span ng-if="current.ranged">
                        <span ng-switch on="current.reference.rtype">
                            <table style="width:100%">
                                <tr>
                                    <td>
                                        <label ng-switch-when="DATE" class="input">
                                        <input class="form-control" type="text"
                                               name="{{current.name}}_start"
                                               ng-required="current.mandatory"
                                               ng-model="rangedInput[current.name].start"
                                               ng-change="updateFieldChange(current, true)"
                                               style="min-width: 190px"
                                               data-date-format="dd/mm/yy" data-moment-date-format="DD/MM/YYYY" delayed
                                               data-smart-datepicker/>
                                        </label>
                                    </td>
                                    <td>&nbsp;-&nbsp;</td>
                                    <td>
                                        <label ng-switch-when="DATE" class="input">
                                            <input class="form-control" type="text"
                                                   name="{{current.name}}_end"
                                                   ng-required="current.mandatory"
                                                   ng-model="rangedInput[current.name].end"
                                                   ng-change="updateFieldChange(current, false)"
                                                   style="min-width: 190px"
                                                   data-date-format="dd/mm/yy" data-moment-date-format="DD/MM/YYYY"
                                                   delayed
                                                   data-smart-datepicker/>
                                        </label>
                                    </td>
                                    </tr>
                                </table>
                        </span>
                        <span class="error-message" ng-show="processForm.$dirty && (current.ranged?(processForm[current.name+'_start'].$error.required || processForm[current.name+'_end'].$error.required):(processForm[current.name].$error.required))">
                            {{getMessage('AD_errFieldMandatory')}}
                        </span>
                    </span>
                </section>
            </div>
            <hr/>
            <div class="col-12" style="max-height: 25em; overflow: auto" ng-model="processLogs" model-data="processLogs" scroll-bottom>
                <div id="{{tabGeneratorId}}">
                    <div ng-repeat="current in processLogs">
                        <span class="process-log-{{current.ltype}}">{{current.date.format('DD/MM/YY hh:mm:ss')}} {{current.log}}</span>
                    </div>
                </div>
            </div>
            <footer>
                <button type="submit" ng-click="clearLogs()" class="btn btn-primary">
                    {{getMessage('AD_btnClearLog')}}
                </button>
                <button type="button" ng-if="showCancel" name="cancel" ng-click="doCancel()" class="btn btn-danger">
                    {{getMessage('AD_btnCancel')}}
                </button>
                <button ng-if="process.ptype=='PROCESS'" type="submit" class="btn btn-primary"
                        ng-click="startProcess(item, processForm, process)">
                    {{getMessage('AD_btnExecute')}}
                </button>
                <button ng-if="process.ptype=='REPORT' && process.excel" type="submit" class="btn btn-primary"
                        ng-click="startProcess(item, processForm, process, 'xls')">
                    <i class="fa fa-file-excel-o"></i>
                    {{getMessage('AD_btnExcel')}}
                </button>
                <button ng-if="process.ptype=='REPORT' && process.pdf" type="submit" class="btn btn-primary"
                        ng-click="startProcess(item, processForm, process, 'pdf')">
                    <i class="fa fa-file-pdf-o"></i>
                    {{getMessage('AD_btnPdf')}}
                </button>
                <button ng-if="process.ptype=='REPORT' && process.word" type="submit" class="btn btn-primary"
                        ng-click="startProcess(item, processForm, process, 'doc')">
                    <i class="fa fa-file-word-o"></i>
                    {{getMessage('AD_btnWord')}}
                </button>
                <button ng-if="process.ptype=='REPORT' && process.html" type="submit" class="btn btn-primary"
                        ng-click="previsualize(item, processForm, process, 'html')">
                    <i class="fa fa-file-text-o"></i>
                    {{getMessage('AD_btnPrevisualize')}}
                </button>
            </footer>
        </form>
        <div ng-include='authorizationDialogTemplate'></div>
    </div>
    <div ng-if="preview" class="row">
        <div  class="col-12" ng-bind-html="preview">
            <div>
            </div>
        </div>
    </div>
</div>