<div id="content">
    <div jarvis-widget class="dataTables_wrapper form-inline jarviswidget" data-widget-color="darken"
         style="margin-bottom: 0px" data-widget-editbutton="true" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">

        <header class="modal-header">
            <h2 style="margin-left: 5px">
                <span class="widget-icon">{{::$root.getColumnCaption(field.tableName, field.name, field.idField)}}</span>
            </h2>
            <div class="pull-right header-filter" style="padding-right: 5px">
                <span>
                    <a ng-if="tab.uipattern=='STANDARD' && value" class="btn btn-link"
                       title="{{$root.getMessage('AD_msgCaptionBarNew')}}"
                       autogen-navigator event-name="'NAVIGATION_NEW'" tab-id="tab.idTab">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
        </header>
    </div>
    <autogen-form-editing tab-generator-id="{{tab.idTab}}" sub-item="true" hide-header disable-inline row-id="{{value}}"></autogen-form-editing>
</div>