<div  class="btn-header transparent pull-right menu-show-icon" ng-controller="MenuIconController">
    <button type="button" style="height: 37px;height: 37px;" class="btn btn-default" ng-click="checkMenuVisibility()">
        <span class="glyphicon glyphicon-align-justify"></span>
    </button>
</div>