<ol class="dd-list">
    <li class="dd-item" data-id="{{topic.index}}">
        <div class="dd3-content" ng-click="selectTopic(topic)">
           <span>{{topic.title}}</span>
        </div>
        <ol class="dd-list" ng-if="$parent.topic.topics && $parent.topic.topics.length > 0" ng-repeat="topic in topic.topics" ng-include="topicTemplate">
        </ol>
    </li>
</ol>