<div id="content">

    <!-- widget grid -->

    <div id="widget-form" class="">
        <div jarvis-widget class="dataTables_wrapper form-inline jarviswidget" data-widget-color="darken"
             data-widget-editbutton="true" data-widget-deletebutton="false"
             data-widget-fullscreenbutton="false">

            <header class="form-header">
                <span class="widget-icon"> <i class="fa {{tableGeneratorIcon}}"></i> </span>
                <h2>{{::$root.getMessage('AD_WikiTitle')}}</h2>
            </header>
            <!-- form -->
            <div role="content">
                <!-- widget content -->
                <div class="widget-body wiki-content">
                    <div class="row">
                        <div class="col-md-4 help-content">
                            <div class="col-sm-12"  ng-repeat="current in guides">
                                <div class="dd" wiki-nestable data-group="1" data-output="nestable1DemoOutput">
                                    <ol class="dd-list">
                                        <li class="dd-item" data-id="0">
                                            <div class="dd3-content" ng-click="onGuideSelected(current)">
                                                <span><b>{{current.title}}</b></span>
                                            </div>
                                            <wiki-topic topic="topic" ng-repeat="topic in current.topics" on-topic-selected="onTopicSelected(topic)"></wiki-topic>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <wiki-topic-detail ng-if="selectedTopic" topic="selectedTopic"></wiki-topic-detail>
                            <div ng-if="selectedGuide">
                                <div ng-if="selectedGuide.content" ng-bind-html="selectedGuide.content"></div>
                                <!-- No data -->
                                <div class="row" id="warning_readonly" ng-if="!selectedGuide.content">
                                    <article class="col-sm-12">
                                        <div class="alert alert-info fade in">
                                            <i class="fa-lg fa fa-bullhorn"></i>
                                            <strong>{{::$root.getMessage('AD_msgDataAlert')}}</strong> {{::$root.getMessage('AD_WikiUnderConstruction')}}
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div ng-hide="selectedGuide || selectedTopic">
                                <!-- No topic selected -->
                                <div class="row" ng-if="!selectedGuide.content">
                                    <article class="col-sm-12">
                                        <div class="alert alert-info fade in">
                                            <i class="fa-lg fa fa-bullhorn"></i>
                                            <strong>{{::$root.getMessage('AD_msgDataAlert')}}</strong> {{::$root.getMessage('AD_WikiSelectTopic')}}
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>