<div>
  <div ng-if="topicEntries.length > 0">
    <article>
      <section ng-repeat="entry in topicEntries">
        <h2>{{entry.title}}</h2>
        <hr/>
        <div ng-bind-html="entry.content"></div>
      </section>
    </article>
  </div>
  <div ng-if="!topicEntries || topicEntries.length == 0">
    <article ng-if="topic.content">
      <section>
        <h2>{{topic.title}}</h2>
        <hr/>
        <div ng-bind-html="topic.content"></div>
      </section>
    </article>
    <!-- No data -->
    <div class="row" id="warning_readonly" ng-if="!topic.content">
      <article class="col-sm-12">
        <div class="alert alert-info fade in">
          <i class="fa-lg fa fa-bullhorn"></i>
          <strong>{{::$root.getMessage('AD_msgDataAlert')}}</strong> {{::$root.getMessage('AD_WikiUnderConstruction')}}
        </div>
      </article>
    </div>
  </div>


</div>