<!-- MAIN CONTENT -->
<div id="content">
    <section id="widget-form" class="">
        <!-- row -->
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                <!-- end widget -->
                <div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false"
                     data-widget-colorbutton="false" data-widget-custombutton="false" role="widget" style="">
                    <!-- widget div-->
                    <div role="content">
                        <process-notification item-attr="{{item}}" process-attr="{{process}}" cancel-fn-attr="closeProcessForm()"></process-notification>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
            </article>
        </div>
        <!-- end row -->
    </section>
</div>

