<ol class="dd-list">
    <li class="dd-item" data-id="{{submenu.idMenu}}">
        <role-menu-detail-entry menu="submenu" on-module-selected="selectModule(menu, idModule)"></role-menu-detail-entry>
        <ol class="dd-list" ng-if="$parent.submenu.subMenus && $parent.submenu.subMenus.length > 0" ng-repeat="submenu in submenu.subMenus" ng-include="subMenuTemplate">
        </ol>
    </li>
</ol>