<div id="content">

    <!-- widget grid -->

    <div id="widget-form" class="">
        <div jarvis-widget class="dataTables_wrapper form-inline jarviswidget" data-widget-color="darken"
             data-widget-editbutton="true" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">

            <header class="form-header">
                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                <h2>{{$root.getMessage("AD_labelRoleEdit")}}</h2>
            </header>

            <!-- form -->
            <div role="content">
                <!-- widget content -->
                <div class="widget-body">

                    <form id="role-menu-form" name="roleMenuForm" class="smart-form">
                        <div>
                            <div class="col-md-12 help-content">
                                <div class="col-sm-12" ng-repeat="current in menus">
                                    <div class="dd" style="max-width: initial" role-menu-nestable data-group="1"
                                         data-output="nestable1DemoOutput">
                                        <ol class="dd-list">
                                            <li class="dd-item" data-id="0">
                                                <role-menu-detail-entry menu="current" on-module-selected="selectModule(menu, idModule)"></role-menu-detail-entry>
                                                <role-menu-submenu submenu="submenu"
                                                                   ng-repeat="submenu in current.subMenus"></role-menu-submenu>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <footer>
                            <div class="row" style="padding-right: 2em;">
                                <div class="col-sm-8">
                                    <div class="alert alert-warn fade in" ng-if="fieldDescription">
                                        <i class="fa-lg fa fa-bullhorn"></i>
                                        <ng-bind-html ng-bind-html="fieldDescription"></ng-bind-html>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" name="cancel" ng-click="resetMenu()" class="btn btn-danger">
                                        {{::$root.getMessage('AD_btnCancel')}}
                                    </button>
                                    <button type="submit" ng-click="saveMenu()" class="btn btn-primary">
                                        {{::$root.getMessage('AD_btnSave')}}
                                    </button>
                                    &nbsp;
                                </div>
                            </div>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>