<div class="dd3-content row margin-10">
    <div class="col-sm-8"  ng-click="onMenuSelect(menu)">
        <span><i class="fa {{menu.icon}}"></i> {{menu.name}} (<i>{{menu.module}}</i>) </span>
    </div>
    <div class="col-sm-3">
        <label ng-if="moduleReference" class=" input">
            <div input-table-dir-selector ng-model="menu.idModule"
                 name="module{{menu.idMenu}}"
                 field-attr="{{getMenuField(menu)}}"
                 item-attr="fieldValue"
                 required="false"
                 id-column-data-attr="idColumnData"
                 field-value-data-attr="fieldValueData"
                 field-display-data-attr="fieldDisplayData"
                 sqlwhere-attr=""
                 selected-fn-attr="selectModule(idColumnData, fieldValueData, fieldDisplayData)"
                 ng-change="changeValue(current)"></div>
        </label>
        <span class="error-message" ng-if="menu.selected && !menu.idModule">
            <span class="error-message">
                {{::$root.getMessage('AD_errFieldMandatory')}}
            </span>
        </span>
    </div>
    <div class="col-sm-1">
        <img ng-if="!menu.selected" class="pull-right"  ng-click="onMenuSelect(menu)"
             ng-src="{{imageCheckOff}}"/>
        <img ng-if="menu.selected" class="pull-right"  ng-click="onMenuSelect(menu)"
             ng-src="{{imageCheckOn}}"/>
    </div>
</div>