<div id="content">

    <div class="row">
        <div class="col-sm-3" style="border-right: 1px solid #cccccc">
            <div>
                <span class="field-property smart-form">
                    <div class="col-md-6 col-sm-12">
                        <label class="label">
                            {{::$root.getColumnCaption(fieldInformation.tableTabName, fieldInformation.columns.name, fieldInformation.columns.idField)}}
                        </label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label class="input">

                            <select class="form-control"
                                    style="width:100%;"
                                    ng-model="modifiedTab.columns"
                                    ng-change="arrangeForm()"
                                    ng-options="current as current for current in validColumnValues">
                            </select>
                        </label>
                    </div>
                </span>
            </div>
            <div class="field-header">
                <label class="input">
                    <strong>{{::$root.getMessage('AD_msgLayoutHeader')}}</strong>
                </label>
            </div>
            <div class="field-navigator">
                <div class="field-item {{field.id === selectedField.id?'selected-field':''}}"
                     ng-repeat="field in allFields | orderBy : 'caption'" ng-if="field.id" ng-click="selectField(field, true)">
                    <label class="input">{{field.caption}}</label>
                </div>
            </div>

            <div class="panel panel-default" ng-if="selectedField" style="margin-top: 5px">
                <div class="panel-body">
                    <div class="field-property row smart-form">
                        <div class="col-md-6 col-sm-12">
                            <label class="label">
                                {{::$root.getColumnCaption(fieldInformation.tableName, fieldInformation.seqno.name, fieldInformation.seqno.idField)}}
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="input">
                                <input step="10" min="0" type="number"
                                       ng-model="selectedField.seqno" ng-change="arrangeForm()"
                                       class="form-control"/>
                            </label>
                        </div>
                    </div>
                    <div class="field-property row smart-form">
                        <div class="col-md-6 col-sm-12">
                            <label class="label">
                                {{::$root.getColumnCaption(fieldInformation.tableName, fieldInformation.gridSeqno.name, fieldInformation.gridSeqno.idField)}}
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="input">
                                <input step="10" min="0" type="number"
                                       ng-model="selectedField.gridSeqno" ng-change="arrangeForm()"
                                       class="form-control"/>
                            </label>
                        </div>
                    </div>
                    <div class="field-property row smart-form">
                        <div class="col-md-6 col-sm-12">
                            <label class="label">
                                {{::$root.getColumnCaption(fieldInformation.tableName, fieldInformation.span.name, fieldInformation.span.idField)}}
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="input">
                                <input step="1" min="0" max="4" type="number"
                                       ng-model="selectedField.span" ng-change="arrangeForm()"
                                       class="form-control"/>
                            </label>
                        </div>
                    </div>
                    <div class="field-property row smart-form">
                        <div class="col-md-6 col-sm-12">
                            <label class="label">
                                {{::$root.getColumnCaption(fieldInformation.tableName, fieldInformation.idFieldGroup.name, fieldInformation.idFieldGroup.idField)}}
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <input type="hidden" class="form-control"
                                   id="{{field.column.standardName}}"
                                   style="width:100%; margin-top: -2px;"
                                   field-attr="{{getFieldAttr()}}"
                                   item-attr="{{fieldValue}}"
                                   tab-id-attr="{{tab.idTab}}"
                                   id-column-data-attr="idColumnData"
                                   field-value-data-attr="fieldValueData"
                                   field-display-data-attr="fieldDisplayData"
                                   selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"
                                   input-table-selector-remote data-placeholder=""
                                   ng-model="selectedField.idFieldGroup"/>
                        </div>
                    </div>
                    <div class="field-property row smart-form">
                        <div class="col-md-6 col-sm-12">
                            <label class="label">
                                {{::$root.getColumnCaption(fieldInformation.tableName, fieldInformation.caption.name, fieldInformation.caption.idField)}}
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="input">
                                <input type="text"
                                       ng-model="selectedField.caption" ng-change="arrangeForm()"
                                       class="form-control"/>
                            </label>
                        </div>
                    </div>
                    <div class="field-property row smart-form">
                        <div class="col-md-6 col-sm-12">
                            <label class="label">
                                {{::$root.getColumnCaption(fieldInformation.tableName, fieldInformation.displayed.name, fieldInformation.displayed.idField)}}
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="checkbox">
                                <input type="checkbox"
                                       ng-model="selectedField.displayed" ng-change="arrangeForm()"
                                       class="form-control"/>
                                <i></i>
                            </label>
                        </div>
                    </div>
                    <div class="field-property row smart-form">
                        <div class="col-md-6 col-sm-12">
                            <label class="label">
                                {{::$root.getColumnCaption(fieldInformation.tableName, fieldInformation.showingrid.name, fieldInformation.showingrid.idField)}}
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="checkbox">
                                <input type="checkbox"
                                       ng-model="selectedField.showingrid" ng-change="arrangeForm()"
                                       class="form-control"/>
                                <i></i>
                            </label>
                        </div>
                    </div>
                    <div class="field-property row smart-form">
                        <div class="col-md-6 col-sm-12">
                            <label class="label">
                                {{::$root.getColumnCaption(fieldInformation.tableName, fieldInformation.startNewRow.name, fieldInformation.startNewRow.idField)}}
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="checkbox">
                                <input type="checkbox"
                                       ng-model="selectedField.startnewrow" ng-change="arrangeForm()"
                                       class="form-control"/>
                                <i></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9" style="padding-left: 25px">
            <!-- widget grid -->
            <div id="widget-form" class="">
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                        <!-- form -->
                        <div role="content">
                            <!-- widget content -->
                            <div class="widget-body">
                                <form id="tableForm" name="tableForm" class="smart-form" novalidate>
                                    {{header}}
                                    <hr class="simple">
                                    <div class="col-12">
                                        <div ng-repeat="roww in fieldRows">
                                            <div class="row">
                                                <div ng-include="inputsTemplate"></div>
                                            </div>
                                        </div>
                                        <div ng-repeat="group in groups">
                                            <div ng-if="group.display" ng-show="group.collapsed">
                                                <h6><a href="" ng-click="toggleGroup(group.id)"><i class="fa fa-plus-square"></i></a> {{group.name}}</h6>
                                                <hr class="simple"/>
                                            </div>
                                            <div ng-if="group.display" ng-hide="group.collapsed">
                                                <h6><a href="" ng-click="toggleGroup(group.id)"><i class="fa fa-minus-square"></i></a> {{group.name}}</h6>
                                                <hr class="simple"/>
                                                <fieldset class="no-padding">
                                                    <div ng-repeat="roww in group.fieldRows">
                                                        <div class="row">
                                                            <div ng-include="inputsTemplate"></div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <footer>
                                        <button type="button" name="cancel" ng-click="undo()" class="btn btn-danger">
                                            {{::$root.getMessage('AD_btnCancel')}}
                                        </button>
                                        <button ng-if="!adTab.runtime.readonly" type="submit" ng-click="save()" class="btn btn-primary">
                                            {{::$root.getMessage('AD_btnSave')}}
                                        </button>
                                    </footer>
                                </form>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

</div>


