<div ng-repeat="field in roww.fields" ng-click="selectField(field)" >
    <div ng-switch on="field.column.reference.rtype" designer-draggable ng-model="field" refresh="arrangeForm()"
           ng-if="field.column.reference.rtype !== 'BUTTON' ? field.display : includeButtonsInBootstrap && field.display"
             class="layout-editor {{field.id === selectedField.id && field.display?'selected-field':''}} col col-xs-12 col-sm-12 col-md-{{field.bootstrapGroupColumns?field.bootstrapGroupColumns:field.bootstrapCol}} col-ld-{{field.bootstrapGroupColumns?field.bootstrapGroupColumns:field.bootstrapCol}}">
        <label ng-if="field.column.reference.rtype != 'BUTTON'" class="label" ng-show="field.display">
            {{field.caption}}
        </label>
        <label ng-switch-when="YESNO" class="checkbox" ng-if="field.display">
            <div class="yes-no-checkbox">
                <input type="checkbox" name="{{field.column.name}}"
                       disabled/>
                <i></i>
            </div>
        </label>
        <label ng-switch-when="INTEGER" class="input" ng-if="field.display">
            <input type="number" name="{{field.column.name}}"
                   disabled
                   class="form-control"/>
        </label>
        <label ng-switch-when="NUMBER" class="input" ng-if="field.display">
            <input type="number" name="{{field.column.name}}"
                   disabled
                   class="form-control"/>
        </label>
        <label ng-switch-when="TEXT" ng-if="field.display" style="width:100%">
            <textarea name="{{field.column.name}}" cols="32" rows="4" style="width:100%"
                      id-attr="item.id" id-table-attr="windowTabInfo.idTable">
            </textarea>
        </label>
        <label ng-switch-when="HTML" class="input" ng-if="field.display">
            <textarea name="{{field.column.name}}" cols="32" rows="4" style="width:100%"
                      id-attr="item.id" id-table-attr="windowTabInfo.idTable">
            </textarea>
        </label>
        <label ng-switch-when="BUTTON" class="input" ng-if="includeButtonsInBootstrap && field.display" >
            <button type="button" ng-click="selectField(field)"
                    class="btn btn-primary autogen-btn">
                <i class={{field.column.refButton.info.icon}}></i>
                {{field.caption}}
            </button>
        </label>
        <label ng-switch-default class="input" ng-if="field.display">
            <input type="email" name="{{field.column.name}}"
                   disabled class="form-control"/>
        </label>
    </div>
</div>