<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div role="content">
            <article class="col-sm-12">
                <process-notification ng-if="process && process.ptype=='PROCESS'" item-attr="{{item}}" process-attr="{{process}}" cancel-fn-attr="closeProcessForm()"></process-notification>
                <report-notification ng-if="process && process.ptype=='REPORT'" item-attr="{{item}}" process-attr="{{process}}" cancel-fn-attr="closeProcessForm()" show-cancel="false" ></report-notification>
            </article>
            <!-- end widget content -->
        </div>
    </div>
</div>
