<!-- MAIN CONTENT -->
<div id="content">
    <div class="row" ng-if="!isHelp">
        <autogen-window-tabs window-generator-id="{{idWindow}}"></autogen-window-tabs>
    </div>
    <wiki-main-container ng-if="isHelp"></wiki-main-container>
</div>
