<!-- MAIN CONTENT -->
<div id="content">
    <div class="row" ng-if="!isHelp">
        <autogen-asociated-tabs ng-if="tabLoaded" tab-generator-id="{{adTab.id}}" window-title="{{window.name}}"
                                window-generator-id="{{idWindow}}" is-multiple="{{isMultiple}}"
                                initial-data="{{initialData}}"
                                row-id="{{itemId}}"></autogen-asociated-tabs>
    </div>
    <div class="row" ng-if="isHelp">
        IS HELP
    </div>
</div>
