<div role="content">
    <div ng-if="initialized">
        <div  ng-if="idTable && tableReferenceItem && auditTemplateUrl">
            <autogen-audit-content id-table="idTable" item="tableReferenceItem" custom-template-url="auditTemplateUrl"></autogen-audit-content>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <autogen-table-audit-grid item="tableReferenceItem" on-select-audit="selectAudit(audit)"></autogen-table-audit-grid>
            </div>
            <div class="col-sm-12 col-md-7">
                <autogen-table-audit-detail ng-if="idTable" item="selectedAudit" id-table="idTable"></autogen-table-audit-detail>
            </div>
        </div>
    </div>
</div>