<div role="content">
    <h6>{{item.created | date : stdPref.dateTimeFormat }}</h6>
    <div ng-switch on="item.operation">
        <div ng-switch-when="I">
            <article class="col-sm-12">
                <div class="alert alert-info fade in">
                    <i class="fa-lg fa fa-bullhorn"></i>
                    <strong>{{::$root.getMessage('AD_labelAuditNew')}}</strong>
                </div>
            </article>
        </div>
        <div ng-switch-when="D">
            <article class="col-sm-12">
                <div class="alert alert-info fade in">
                    <i class="fa-lg fa fa-bullhorn"></i>
                    <strong>{{::$root.getMessage('AD_labelAuditDelete')}}</strong>
                </div>
            </article>
        </div>
        <div ng-switch-default>
            <div ng-if="modifiedColumns.length == 0">
                <article class="col-sm-12">
                    <div class="alert alert-info fade in">
                        <i class="fa-lg fa fa-bullhorn"></i>
                        <strong>{{::$root.getMessage('AD_labelAuditNoDifferences')}}</strong>
                    </div>
                </article>
            </div>
            <div ng-if="modifiedColumns.length > 0">
                <section ng-repeat="column in modifiedColumns" class="panel">
                    <strong>{{::$root.getColumnCaption(table.name, column.field.name, column.field.idField)}}</strong>
                    <div class="text text-danger">
                        {{::getOldValue(column.standardName)}}
                    </div>
                    <div class="text text-success">
                        {{::getNewValue(column.standardName)}}
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>