<div role="content">
    <div ng-if="audits">
        <div class="row smart-form ">
            <div class="table-filters row">
                <section class="col-md-1">
                </section>
                <section class="col-md-5">
                    <label class="header-filter-label">{{::$root.getMessage("AD_labelCreated")}}</label>
                    <label class="input autogen-grid-filter">
                        <input class="form-control" type="text"
                               name="date-filter" data-smart-datepicker
                               ng-model="filter.date" ng-change="getAudits()"
                               data-date-format="dd/mm/yy" data-moment-date-format="D/M/YYYY" delayed/>
                    </label>
                </section>
                <section class="col-md-1">
                </section>
                <section class="col-md-5">
                    <label class="header-filter-label">{{::$root.getMessage("AD_labelUserName")}}</label>
                    <label ng-if="referenceField" class="input input-file autogen-grid-filter">
                        <input type="hidden" class="form-control"
                               id="user-filter"
                               style="width:100%; margin-top: -2px;"
                               field-attr="{{referenceField}}"
                               item-attr="{{item}}"
                               id-column-data-attr="idColumnData"
                               field-value-data-attr="fieldValueData"
                               field-display-data-attr="fieldDisplayData"
                               selected-fn-attr="selectElement(idColumnData, fieldValueData, fieldDisplayData)"
                               input-table-selector-remote data-placeholder=""
                               ng-model="filter.idUser"
                               ng-change="getAudits()"
                               name="user"/>
                    </label>
                </section>
            </div>
        </div>
        <table id="audit-grid" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
            <tr>
                <th style="background-image: none"
                    id="header-created">
                    <a ng-click="orderByFieldFn('created')">{{::$root.getMessage("AD_labelCreated")}}</a>
                </th>
                <th style="background-image: none"
                    id="header-user">
                    <a ng-click="orderByFieldFn('idUser')">{{::$root.getMessage("AD_labelUserName")}}</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="smart-datatable-child-format" ng-repeat="item in audits">
                <td ng-click="checkItem(item)">
                    <label>{{item.created | date : stdPref.dateTimeFormat }}</label>
                </td>
                <td ng-click="checkItem(item)">
                    <label ng-if="adAuditTable"
                           field-attr="{{::getFieldAttr(field, item)}}"
                           item-attr="{{item}}"
                           tab-id-attr="{{scope.tab}}"
                           id-column-data-attr="idColumnData"
                           field-value-data-attr="fieldValueData"
                           field-display-data-attr="fieldDisplayData"
                           selected-fn-attr="selectElementGrid(idColumnData, fieldValueData, fieldDisplayData)"
                           input-table-selector-remote
                           fn-on-focus="doComponentEnter(name)"
                           ng-model="item.idUser">{{item.userName}}</label>

                </td>
            </tr>
            </tbody>
        </table>
        <div class="dt-toolbar-footer">
            <div class="dataTables_info col-sm-6 col-xs-12 hidden-xs" id="DataTables_Table_1_info" role="audits"
                 aria-live="polite">
                {{$root.getMessage('AD_GlobalMsgPaging',
                [(tableData.tableCurrentPage-1)*tableData.tablePageSize + 1,
                (tableData.tableCurrentPage-1)*tableData.tablePageSize + audits.length,
                tableTotalElements])}}
            </div>
            <div class="col-xs-12 col-sm-6" ng-if="tableTotalElements > 0">
                <pagination ng-hide="numPages == 1" total-items="tableTotalElements"
                            items-per-page="tableData.tablePageSize"
                            ng-model="tableData.tableCurrentPage" max-size="maxSize"
                            num-pages="numPages"
                            class="pagination-sm" boundary-links="true" rotate="false"
                            previous-text="{{::$root.getMessage('AD_GlobalMsgPagePrevious')}}"
                            next-text="{{::$root.getMessage('AD_GlobalMsgPageNext')}}"
                            first-text="{{::$root.getMessage('AD_GlobalMsgPageFirst')}}"
                            last-text="{{::$root.getMessage('AD_GlobalMsgPageLast')}}">
                </pagination>
            </div>
        </div>
    </div>
</div>