<div role="content">
    <!-- widget content -->
    <div class="widget-body smart-form">
        <form>
            <fieldset>
                <div class="row">
                    <section class="col col-12">
                        <label class="label"><strong>{{::$root.getMessage('AD_labelAuditId')}}:</strong></label>
                        <label class="input">
                            <label>{{audits.id}}</label>
                        </label>
                    </section>
                    <section class="col col-12">
                        <label class="label"><strong>{{::$root.getMessage('AD_labelAuditCreated')}}:</strong></label>
                        <label class="input">
                            <label>{{audits.created | date : stdPref.dateFormat}}</label>
                        </label>
                    </section>
                    <section class="col col-12">
                        <label class="label"><strong>{{::$root.getMessage('AD_labelAuditCreatedBy')}}:</strong></label>
                        <label class="input">
                            <label>{{audits.createdBy}}</label>
                        </label>
                    </section>
                    <section class="col col-12">
                        <label class="label"><strong>{{::$root.getMessage('AD_labelAuditUpdated')}}:</strong></label>
                        <label class="input">
                            <label>{{audits.updated | date : stdPref.dateFormat}}</label>
                        </label>
                    </section>
                    <section class="col col-12">
                        <label class="label"><strong>{{::$root.getMessage('AD_labelAuditUpdatedBy')}}:</strong></label>
                        <label class="input">
                            <label>{{audits.updatedBy}}</label>
                        </label>
                    </section>
                </div>
            </fieldset>
        </form>
    </div>
</div>