<div role="content">
    <!-- widget content -->
    <div class="widget-body smart-form">
        <form>
            <fieldset>
                <div class="row">
                    <section class="col col-3">
                        <label class="label"><strong>{{::$root.getMessage('AD_labelAuditId')}}:</strong></label>
                        <label class="input">
                            <label>{{audits.id}}</label>
                        </label>
                    </section>
                    <section class="col col-4">
                        <label class="label"><strong>{{::$root.getMessage('AD_labelAuditCreated')}}:</strong></label>
                        <div class="row">
                            <label class="col col-6">
                                {{audits.created | date : stdPref.dateFormat}}
                            </label>
                            <label class="col col-6">
                                {{audits.createdBy}}
                            </label>
                        </div>
                    </section>
                    <section class="col col-4">
                        <label class="label"><strong>{{::$root.getMessage('AD_labelAuditUpdated')}}:</strong></label>
                        <div class="row">
                            <label class="col col-6">
                                {{audits.updated | date : stdPref.dateFormat}}
                            </label>
                            <label class="col col-6">
                                {{audits.updatedBy}}
                            </label>
                        </div>
                    </section>
                </div>
            </fieldset>
        </form>
    </div>
</div>