<ul class="header-dropdown-list ng-cloak">
    <li class="dropdown"  style="z-index: 2000">
        <a class="dropdown-toggle" style="margin-top: 0px" href> <span> {{checkedRole.description}} </span>
            <i class="fa fa-angle-down"></i> </a>
        <ul class="dropdown-menu pull-left">
            <li ng-class="{active: role.idRole==checkedRole.idRole}" ng-repeat="role in roles">
                <a ng-click="selectRole(role)">
                    <span ng-show="role.idRole==defaultRole" class="glyphicon glyphicon-ok" ></span>
                    &nbsp;&nbsp;{{role.description}}
                </a>
            </li>
        </ul>
    </li>
</ul>